.main-wrapper {
    display: inline-block;
    white-space: nowrap;

    .reference-wrapper {
        display: flex;
        cursor: pointer;
        padding: $space-xs;

        &:focus-visible {
            outline: $space-xxxs solid var(--primary-color-80);
        }

        &.disabled {
            pointer-events: none;
            cursor: auto;
        }
    }
}

.dropdown-wrapper {
    background: var(--background-color);
    padding: $space-xs;
    box-shadow: $shadow-object-m;
    border-radius: $corner-radius-xl;
    transition: all $motion-duration-fast $motion-easing-easeout;
    min-width: 280px;
    opacity: 0;
    white-space: normal;
    z-index: $z-index-400;
    max-height: 34vh;
    overflow-y: auto;

    &.open {
        animation: slideUpIn $motion-duration-extra-fast
            $motion-easing-easeinout 0s forwards;
    }

    &.close {
        animation: slideUpOut $motion-duration-extra-fast
            $motion-easing-easeinout 0s forwards;
    }
}
