.main-wrapper {
    display: inline-block;
    white-space: nowrap;

    .dropdown-wrapper {
        background: var(--background-color);
        padding: $space-xs;
        box-shadow: $shadow-object-m;
        border-radius: $space-xxs;
        transition: all $motion-duration-fast $motion-easing-easeout;
        min-width: 280px;
        opacity: 0;
        white-space: normal;

        &.open {
            animation: slideUpIn $motion-duration-extra-fast
                $motion-easing-easeinout 0s forwards;
        }

        &.close {
            animation: slideUpOut $motion-duration-extra-fast
                $motion-easing-easeinout 0s forwards;
        }
    }

    .reference-wrapper {
        display: inline-block;
        cursor: pointer;

        &.disabled {
            pointer-events: none;
            cursor: auto;
        }
    }
}
