.flexible-margin{
  margin: auto;
  max-width: 1440px;

  &.open{
    max-width: 1800px;
  }
}

.container{
  display: grid;
  max-width: 1440px;
  grid-gap: $space-l;
  margin: 0 $space-m;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax( rem(8px), auto);
  //justify-content: center;
  padding: rem(40px) $disabled-zero;
  //background-color: $blue10;
  //grid-column: 1/13;

    .row-items{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      gap: $space-m;
      grid-column: 1 / 13;
    }

    .column-items{
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      //align-items: center;
      gap: $space-l;
      grid-column: 1 / 13;
    }

}

.two-column-layout{
  display: flex;
  flex-direction: row;
  gap: $space-xxl;
  width: 100%;
  //flex: 0 0 100%;
  //flex-flow: row wrap;
  //grid-column: 1 / 7;

  flex-grow: 2;
  margin: 0;
}
