.panel-backdrop {
    @include backdrop;

    .panel {
        position: absolute;
        padding: 0 $space-xl;
        background: var(--background-color);
        box-shadow: $shadow-panel-right;
        transition: all $motion-duration-extra-fast $motion-easing-easeinout 0s;
        overflow: scroll;

        &.left,
        &.right {
            height: 100%;

            &.small {
                width: 480px;
            }

            &.medium {
                width: 640px;
            }

            &.large {
                width: 860px;
            }
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }

        &.top,
        &.bottom {
            width: 100%;

            &.small {
                height: 480px;
            }

            &.medium {
                height: 640px;
            }

            &.large {
                height: 860px;
            }
        }

        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }

        .header {
            background-color: inherit;
            padding: $space-l 0 $space-m;
            position: sticky;
            top: 0;
            display: flex;
            justify-content: space-between;
        }

        .body {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .footer {
            background-color: inherit;
            padding: $space-m 0 $space-l 0;
            position: sticky;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &.visible {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}
