.tab-wrap {
  width: 100%;
  //margin-left: 20%;
  position: relative;
  display: flex;
  //top: -106px;
  border-bottom: rem(1px) solid $divider-line-color;

  &.align-right{
    justify-content: flex-end;
  }
}

input[type="radio"] {
  position: absolute;
  z-index: -1;
  visibility:hidden;

  &:checked {
    + .tab-label-content
    {

      label {
        color: $color-secondary-blue;
        transition: transform $motion-duration-fast $motion-easing-easeout 0s;
        border-bottom: rem(2px) solid $color-secondary-blue;
        padding-bottom: $space-s;

        .tab-label-counter{
          background-color: $color-background2-blue;
          color: $color-primary-blue;
        }

      }

      .tab-content {
        display: block!important;
      }

  }

  }

}

label {
  cursor: pointer;
  color: $color-secondary-grey;
  background-color: $card-background-color;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform $motion-duration-fast $motion-easing-easein 0s;
  width: auto;
  //padding: $space-s $space-m;

  &:hover{
    color: $color-secondary-blue;
    transition: transform $motion-duration-fast $motion-easing-easeout 0s;

    .tab-label-counter{
      background-color: $color-background2-blue;
      color: $color-primary-blue;

    }
  }
}



.tab-label-content {
  width: auto;
  padding: $space-s $space-m $disabled-zero $space-m;

  .tab-label-structure{
    display: flex;
    flex-direction: column;


    .with-item{
      display: flex;
      flex-direction: row;

    }
  }

  .tab-content {
    position: absolute;
    top: $space-xxxl;
    padding: $space-m;
    left: 0;
    display: none;
    transition: transform $motion-duration-fast $motion-easing-easeinout 0s;
  }
}

.tab-label-counter{
  background-color: $color-background2-grey;
  border-radius: $corner-radius-l;
  padding: $disabled-zero $space-xxs;
  color: $color-secondary-grey;

}

@media screen and (max-width: 800px) {
//  h1 {
//    padding: 40px 0 90px 10%;
//  }
  .tab-wrap {
    //width: 80%;
    //margin-left: 10%;
    //top: -106px;
    position: relative;
    //padding: $disabled-zero $space-l;
  }
}
