.tooltip-target{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip-target .tooltip-1{
  visibility: hidden;
  position: absolute!important;
  background-color: $color-primary-grey;
  color: $button-text__color-primary;
  max-width: rem(120px);
  max-height: rem(64px);
  width: auto !important;
  height: auto !important;
  box-shadow: $shadow-object-xs;
  text-align: center;
  z-index: $z-index-100;
  top: calc(100% + 0.25rem);

  left:-1000px;
  right:-1000px;
  margin-left: auto;
  margin-right: auto;
  opacity: $disabled-zero;
  padding: $space-xs;
  border-radius: $corner-radius-s;
  transition: all $motion-duration-extra-fast $motion-easing-easeinout 0s;

}

/* Tooltip arrow */
.tooltip-target .tooltip-1::after {
  content: " ";
  position: absolute!important;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -$space-xxs;
  border-width: $space-xxs;
  border-style: solid;
  border-color: transparent transparent black transparent;
  z-index: $z-index-100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-target:hover .tooltip-1 {
  visibility: visible;
  opacity: 1;
  }
