.menu-item {
  --background: transparent;
  background: var(--background);
  color: var(--label);
  display: flex;
  align-items: center;
  gap: $space-xs;
  border-radius: $border-radius-xl;
  cursor: pointer;
  font-weight: $text-font-weight-regular;
  transition: all $motion-duration-extra-fast $motion-easing-easeinout 0s;
  margin: $space-xxs 0;
  white-space: nowrap;

  &.wrap {
    white-space: normal;
  }

  $text-font-size-map: (
    small: $text-font-size-1,
    medium: $text-font-size-2,
    large: $text-font-size-3,
  );

  .menu-item-button {
    display: flex;
    flex: 1;
    gap: $space-xs;

    // Hides the browser default keyboard focus-visible styles.
    // Use the ConfigProvider instead.
    &:focus-visible {
      outline: none;
    }
  }

  .menu-item-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .menu-secondary-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .menu-inner-button {
      align-items: center;
      display: flex;
      gap: $space-xs;
    }

    .menu-outer-button {
      align-items: center;
      display: flex;
      flex: inherit;
      gap: $space-xs;

      &:focus-visible {
        outline: none;
      }
    }
  }

  .item-text {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }

  .item-sub-text {
    text-align: left;
    color: var(--menu-item-sub-text-color);
    @each $size-name, $size-value in $text-font-size-map {
      &.#{$size-name} {
        font-size: $size-value;
      }
    }
  }

  &.large {
    min-height: 44px;
    font-size: $text-font-size-4;
    line-height: $text-line-height-3;
    margin: 0 $space-xs $space-xs;

    .menu-item-button,
    .menu-secondary-wrapper,
    .menu-link {
      padding: $button-padding-vertical-medium $button-padding-horizontal-medium;
    }
  }

  &.medium {
    min-height: 36px;
    font-size: $text-font-size-3;
    line-height: $text-line-height-2;
    margin: 0 $space-xxs $space-xs;

    .menu-item-button,
    .menu-secondary-wrapper,
    .menu-link {
      padding: $button-padding-vertical-medium $button-padding-horizontal-medium;
    }
  }

  &.small {
    min-height: 28px;
    font-size: $text-font-size-2;
    line-height: $text-line-height-1;
    margin: 0 $space-xxs $space-xxs;

    .menu-item-button,
    .menu-secondary-wrapper,
    .menu-link {
      padding: $space-xxs $space-xs;
    }
  }

  &.primary {
    --background: var(--menu-item-primary-background-color);
    --label: var(--menu-item-primary-label-color);

    &:hover {
      --background: var(--menu-item-primary-hover-background-color);
    }

    &.active,
    &:active {
      --background: var(--menu-item-primary-active-background-color);
    }
  }

  &.disruptive {
    --background: var(--menu-item-disruptive-background-color);
    --label: var(--menu-item-disruptive-label-color);

    &:hover {
      --background: var(--menu-item-disruptive-hover-background-color);
    }

    &.active,
    &:active {
      --background: var(--menu-item-disruptive-active-background-color);
    }
  }

  &.neutral {
    --background: var(--menu-item-neutral-background-color);
    --label: var(--menu-item-neutral-label-color);

    &:hover {
      --background: var(--menu-item-neutral-hover-background-color);
    }

    &.active,
    &:active {
      --background: var(--menu-item-neutral-active-background-color);
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: $disabled-alpha-value;
    pointer-events: none;
  }

  &[disabled],
  > [disabled] {
    cursor: not-allowed;
    pointer-events: none;
  }

  .menu-link {
    align-items: inherit;
    color: inherit;
    display: inherit;
    flex: 1;
    font-size: inherit;
    font-weight: inherit;
    gap: $space-xs;
    text-decoration: none;
    white-space: inherit;
  }

  .label {
    flex: 1;
    display: flex;
    text-align: left;
  }

  .action-wrapper {
    align-items: center;
    display: flex;
    gap: $space-xxs;
  }

  &:first-child {
    margin-top: $space-xs;
  }

  &:last-child {
    margin-bottom: $space-xs;
  }

  &:focus-visible {
    outline: none;
  }

  &-rtl {
    .label {
      text-align: right;
    }
  }
}

.menu-item-sub-header {
  color: var(--menu-sub-header-color);
  padding: $space-s $space-xxs $space-s;
  border-bottom: solid 1px var(--menu-border-color);
  margin: 0 $space-m $space-m;
  font-weight: $text-font-weight-semibold;
  white-space: nowrap;

  &:first-child {
    padding-top: 0;
  }

  &.large {
    margin: 0 $space-m $space-m;
    padding: $space-s $space-xxs $space-s;
    @include octuple-content-large();
  }

  &.medium {
    margin: 0 $space-m $space-m;
    padding: $space-s $space-xxxs $space-s;
    @include octuple-content-medium();
  }

  &.small {
    margin: 0 $space-s $space-m;
    padding: $space-s $space-xxxs $space-s;
    @include octuple-content-small();
  }
}

.menu-item-custom {
  margin-bottom: $space-m;

  &.large {
    padding: 0 $space-l;
  }

  &.medium {
    padding: 0 $space-m;
  }

  &.small {
    padding: 0 $space-s;
  }
}

:global(.focus-visible) {
  .menu-item {
    &:focus-visible,
    &:focus-within {
      box-shadow: var(--focus-visible-box-shadow);
    }

    &.disruptive {
      &:focus-visible,
      &:focus-within {
        background-color: var(--disruptive-background1-color);
        box-shadow: 0 0 0 var(--focus-visible-shadow-width)
          var(--disruptive-color);
      }
    }

    .menu-link {
      &:focus-visible {
        box-shadow: none;
      }
    }
  }
}
