.badge {
    --bg: var(--grey-color-20);
    --label: var(--grey-color-80);
    background-color: var(--bg);
    color: var(--label);
    border-radius: $space-m;
    width: fit-content;
    padding: 0 $space-xxs;

    &.active {
        --bg: var(--accent-color-30);
        --label: var(--primary-color-80);

        &.disruptive {
            --bg: var(--disruptive-color-20);
            --label: var(--disruptive-color);
        }
    }
}
