config
dist
node_modules
public
scripts
src

.storybook/
.vscode/

LICENSE
MANIFEST
npm-debug.log*
README.md
stats.json
tsconfig.json
webpack.config.js
yarn.lock
yarn-debug.log*
yarn-error.log*

.eslintignore
.eslintrc.js
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local

lib/octuple.js.LICENSE.txt