config
dist
node_modules
public
scripts
src

.storybook/
.vscode/
.husky/
.github/

LICENSE
MANIFEST
npm-debug.log*
README.md
stats.json
tsconfig.json
webpack.common.cjs
webpack.dev.cjs
webpack.prod.cjs
yarn.lock
yarn-debug.log*
yarn-error.log*
commitlint.config.js
rollup.config.js

.eslintignore
.eslintrc.cjs
.commitlintrc.json
.prettierrc.cjs
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.versionrc.json

lib/octuple.js.LICENSE.txt
