.button {
    --button-default-foreground-color: var(--primary-color);
    --button-focus-outline-color: var(--blueviolet-color-50);
    --button-primary-default-border-color: var(--primary-color);
    --button-two-state-default-foreground-color: var(--grey-color-70);
    --button-two-state-hover-foreground-color: var(--primary-color);
    --button-two-state-focus-foreground-color: var(--primary-color-80);
    --button-two-state-checked-foreground-color: var(--primary-color-80);
    --button-two-state-active-foreground-color: var(--primary-color-80);
    --button-two-state-visited-foreground-color: var(--primary-color-80);
    --button-two-state-default-background-color: var(--white-color);
    --button-two-state-hover-background-color: var(--white-color);
    --button-two-state-focus-background-color: var(--white-color);
    --button-two-state-checked-background-color: var(--primary-color-20);
    --button-two-state-active-background-color: var(--primary-color-20);
    --button-two-state-visited-background-color: var(--primary-color-20);
    --button-counter-default-background-color: var(--grey-color-20);
    --button-counter-hover-background-color: var(--primary-color-20);
    --button-counter-checked-background-color: var(--primary-color-10);
    --button-counter-focus-background-color: var(--primary-color-20);
    --button-counter-active-background-color: var(--primary-color-10);
    --button-counter-visited-background-color: var(--primary-color-10);
    --button-two-state-default-outline-color: var(--grey-color-70);
    --button-two-state-hover-outline-color: var(--primary-color-60);
    --button-two-state-checked-outline-color: var(--primary-color);
    --button-two-state-focus-outline-color: var(--primary-color-40);
    --button-two-state-active-outline-color: var(--primary-color);
    --button-two-state-visited-outline-color: var(--primary-color);
    background-color: inherit;
    border-radius: $corner-radius-s;
    cursor: pointer;
    display: inline-block;
    min-height: max-content;
    min-width: max-content;
    transition: all $motion-duration-extra-fast $motion-easing-easeinout 0s;
    white-space: nowrap;

    span:not(.column):not(.counter) {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .icon + .button-text-1:not(:empty) {
        margin-left: $button-spacer-large;
    }

    .icon + .button-text-2:not(:empty) {
        margin-left: $button-spacer-medium;
    }

    .icon + .button-text-3:not(:empty) {
        margin-left: $button-spacer-small;
    }

    &.pill-shape {
        border-radius: $corner-radius-xl;
    }

    &.round-shape {
        border-radius: 50%;

        &.button-size-1 {
            padding: $button-padding-vertical-large;
        }
        &.button-size-2 {
            padding: $button-padding-vertical-medium;
        }
        &.button-size-3 {
            padding: $button-padding-vertical-small;
        }
    }

    &.drop-shadow {
        box-shadow: 0 1px 2px rgba(15, 20, 31, 0.12),
            0 2px 8px rgba(15, 20, 31, 0.16);
    }

    &.split-left {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;

        &.button-stretch {
            &.button-size-1 {
                width: calc(100% - 52px);
            }

            &.button-size-2 {
                width: calc(100% - 44px);
            }

            &.button-size-3 {
                width: calc(100% - 36px);
            }
        }
    }

    &.split-right {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        vertical-align: top;
    }

    &.button-stretch {
        width: 100%;

        span {
            justify-content: center;
        }
    }

    &.left {
        span {
            justify-content: left;
        }
    }

    &.right {
        span {
            justify-content: right;
        }
    }

    &.icon-left {
        span {
            transform: none;
        }
    }

    &.icon-right {
        span:not(.counter) {
            transform: scaleX(-1);
        }

        &.left {
            span {
                justify-content: right;
            }
        }

        &.right {
            span {
                justify-content: left;
            }
        }
    }

    .counter {
        background-color: var(--button-counter-default-background-color);
        display: inline-block;
        padding: 0 $space-xxs;
        text-align: center;
        width: fit-content;
    }

    &.floating {
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: $z-index-400;
    }

    &:disabled,
    &.disabled {
        opacity: $disabled-alpha-value;
        cursor: not-allowed;
    }

    &:hover {
        .counter {
            background-color: var(--button-counter-hover-background-color);
        }
    }

    &:active {
        .counter {
            background-color: var(--button-counter-active-background-color);
        }
    }
}

.button-text-1 {
    // Button 1 (Mobile L)
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $text-font-weight-semibold;
    font-size: $text-font-size-4;
    line-height: $text-line-height-3;

    &.counter {
        font-size: $text-font-size-4;
        height: 24px;
        line-height: 24px;
        margin-left: $space-xs;
    }

    &.open-sans {
        font-family: 'Open Sans', sans-serif;
    }
}

.button-text-2 {
    // Button 2 (Mobile M, Desktop L)
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $text-font-weight-semibold;
    font-size: $text-font-size-3;
    line-height: $text-line-height-2;

    &.counter {
        font-size: $text-font-size-2;
        height: 18px;
        line-height: 18px;
        margin-left: $space-xs;
    }

    &.open-sans {
        font-family: 'Open Sans', sans-serif;
    }
}

.button-text-3 {
    // Button 3 (Desktop M)
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: $text-font-weight-semibold;
    font-size: $text-font-size-2;
    line-height: $text-line-height-1;

    &.counter {
        font-size: $text-font-size-1;
        height: 16px;
        line-height: 16px;
        margin-left: $space-xxs;
    }

    &.open-sans {
        font-family: 'Open Sans', sans-serif;
    }
}

.button-size-1 {
    height: 44px;
    padding: $button-padding-vertical-large $button-padding-horizontal-large;
}

.button-size-2 {
    height: 36px;
    padding: $button-padding-vertical-medium $button-padding-horizontal-medium;
}

.button-size-3 {
    height: 28px;
    padding: $button-padding-vertical-small $button-padding-horizontal-small;
}

.button-primary {
    --bg: var(--accent-color-20);
    --color: var(--primary-color-80);
    color: var(--color);
    background-color: var(--bg);

    &:hover {
        --bg: var(--accent-color-10);
    }

    &:active {
        --bg: var(--accent-color-30);
    }
}

.button-secondary {
    --outline: var(--accent-color-60);
    --bg: transparent;
    --color: var(--primary-color-70);
    color: var(--color);
    background-color: var(--bg);
    outline: var(--outline) solid 1px;
    outline-offset: -1px;

    &:hover {
        --bg: var(--accent-color-10);
    }

    &:active {
        --bg: var(--accent-color-20);
    }
}

.button-primary-disruptive {
    --bg: var(--disruptive-color-20);
    --color: var(--disruptive-color-80);
    color: var(--color);
    background-color: var(--bg);

    &:hover {
        --bg: var(--disruptive-color-10);
    }

    &:active {
        --bg: var(--disruptive-color-30);
    }
}

.button-secondary-disruptive {
    --bg: transparent;
    --color: var(--disruptive-color-70);
    color: var(--color);
    background-color: var(--bg);
    outline: var(--disruptive-color-70) solid 1px;
    outline-offset: -1px;

    &:hover {
        --bg: var(--disruptive-color-10);
    }

    &:active {
        --bg: var(--disruptive-color-20);
    }
}

.button-default {
    --bg: var(--primary-color-10);
    --color: var(--primary-color-70);
    color: var(--color);
    background-color: var(--bg);
    outline: transparent solid 2px;
    outline-offset: -2px;

    &:hover {
        --bg: transparent;
    }

    &:active {
        --bg: var(--accent-color-20);
    }
}

.button-disruptive {
    background-color: var(--white-color);
    color: var(--disruptive-color-70);
    outline: transparent solid 1px;
    outline-offset: -1px;

    &:hover {
        background-color: var(--disruptive-color-10);
        color: var(--disruptive-color-70);
    }

    &:active {
        background-color: var(--disruptive-color-20);
        color: var(--disruptive-color-80);
    }
}

.button-neutral {
    --bg: var(--grey-color-10);
    --color: var(--grey-color-70);
    color: var(--color);
    background-color: var(--bg);
    outline: transparent solid 2px;
    outline-offset: -2px;

    &:hover {
        --bg: transparent;
    }

    &:active {
        --bg: var(--grey-color-20);
    }
}

.split-button {
    position: relative;

    .split-divider {
        position: absolute;
        width: 1px;

        &.split-divider-primary {
            background-color: var(--text-inverse-color);
        }

        &.split-divider-secondary {
            background-color: var(--button-default-foreground-color);
        }

        &.split-divider-primary-disruptive {
            background-color: var(--text-inverse-color);
        }

        &.split-divider-secondary-disruptive {
            background-color: var(--disruptive-color-70);
        }

        &.split-divider-default {
            background-color: var(--button-default-foreground-color);
        }

        &.split-divider-disruptive {
            background-color: var(--disruptive-color-70);
        }

        &.split-divider-neutral {
            background-color: var(--button-default-foreground-color);
        }
    }

    .split-divider-large {
        bottom: 10px;
        right: 50px;
        top: 10px;
    }

    .split-divider-medium {
        bottom: 8px;
        right: 42px;
        top: 8px;
    }

    .split-divider-small {
        bottom: 6px;
        right: 34px;
        top: 6px;
    }
}

.two-state-button {
    background-color: var(--button-two-state-default-background-color);
    color: var(--button-two-state-default-foreground-color);
    outline: var(--button-two-state-default-outline-color) solid 1px;
    outline-offset: -1px;

    .counter {
        background-color: var(--button-counter-default-background-color);
        display: inline-block;
        text-align: center;
        width: fit-content;
    }

    .button-text-1 {
        &.counter {
            margin: 0 $space-xs;
        }
    }

    .button-text-2 {
        &.counter {
            margin: 0 $space-xs;
        }
    }

    .button-text-3 {
        &.counter {
            margin: 0 $space-xxs;
        }
    }

    .two-state-button-content {
        columns: 2;
        flex-direction: column;

        .column {
            display: flex;
        }
    }

    &.button-stretch {
        .two-state-button-content {
            .column-one {
                width: calc(100% - 20px);
            }
        }
    }

    &:hover {
        background-color: var(--button-two-state-hover-background-color);
        color: var(--button-two-state-hover-foreground-color);
        outline-color: var(--button-two-state-hover-outline-color);

        .counter {
            background-color: var(--button-counter-hover-background-color);
        }
    }

    &:active {
        background-color: var(--button-two-state-active-background-color);
        color: var(--button-two-state-active-foreground-color);
        outline-color: var(--button-two-state-active-outline-color);

        .counter {
            background-color: var(--button-counter-active-background-color);
        }
    }

    &.checked {
        background-color: var(--button-two-state-checked-background-color);
        color: var(--button-two-state-checked-foreground-color);
        outline-color: var(--button-two-state-checked-outline-color);

        .counter {
            background-color: var(--button-counter-checked-background-color);
        }
    }
}

:global(.focus-visible) {
    .button {
        &:focus-visible {
            outline-width: $focus-visible-outline-width;
            outline-offset: $focus-visible-outline-offset-inner;
            outline-color: var(--button-focus-outline-color);
        }

        // Primary button doesn't have an outline. Add one for keyboard focus modality.
        &.button-primary {
            &:focus-visible {
                outline: $focus-visible-outline-width solid
                    var(--button-primary-focus-border-color);
            }
        }

        &.button-primary-disruptive {
            &:focus-visible {
                outline: $focus-visible-outline-width solid
                    var(--disruptive-color-80);
            }
        }

        &.button-secondary {
            &:focus-visible {
                background-color: var(--button-focus-background-color);
                color: var(--button-focus-foreground-color);
            }
        }

        &.button-secondary-disruptive {
            &:focus-visible {
                color: var(--disruptive-color-80);
                outline-color: var(--disruptive-color-80);
            }
        }

        &.button-default {
            &:focus-visible {
                background-color: var(--button-focus-background-color);
                color: var(--button-focus-foreground-color);
            }
        }

        &.button-disruptive {
            &:focus-visible {
                background-color: var(--disruptive-color-10);
                color: var(--disruptive-color-80);
                outline-color: var(--disruptive-color-80);
            }
        }

        &.button-neutral {
            &:focus-visible {
                background-color: var(--grey-color-10);
                color: var(--text-secondary-color);
                outline-color: var(--grey-color-80);
            }
        }
    }

    .two-state-button {
        &:focus-visible {
            background-color: var(--button-two-state-focus-background-color);
            color: var(--button-two-state-focus-foreground-color);
            outline-width: $focus-visible-outline-width;
            outline-offset: $focus-visible-outline-offset-inner;
            outline-color: var(--button-focus-outline-color);

            &.checked {
                background-color: var(
                    --button-two-state-checked-background-color
                );
                color: var(--button-two-state-checked-foreground-color);
                outline-width: $focus-visible-outline-width;
                outline-offset: $focus-visible-outline-offset-inner;
                outline-color: var(--button-focus-outline-color);
            }

            .counter {
                background-color: var(--button-counter-focus-background-color);
            }
        }
    }
}

.dark {
    .button-wrapper {
        .button {
            background-color: inherit;

            &.drop-shadow {
                box-shadow: 0 1px 2px rgba(15, 20, 31, 0.12),
                    0 2px 8px rgba(15, 20, 31, 0.16);
            }
        }
    }
}
