.menu-header-container {
    display: flex;
    flex: 1;

    &.large {
        margin: $space-xl $space-xl calc(#{$space-m} + #{$space-xxxs});
    }

    &.medium {
        margin: $space-l $space-l calc(#{$space-s} + #{$space-xxxs});
    }

    &.small {
        margin: $space-m $space-m calc(#{$space-xs} + #{$space-xxxs});
    }

    .heading {
        flex: 1;
    }
}

.menu-footer-container {
    background: var(--background-color);
    position: sticky;
    bottom: 0;
    border-top: solid 1px var(--border-color);

    &.large {
        padding: $space-l;
    }

    &.medium {
        padding: $space-m;
    }

    &.small {
        padding: $space-s;
    }
}
