$background-color: var(--background-color);
$input-placeholder-color: hsv(0, 0, 75%);

@mixin placeholder($color: $input-placeholder-color) {
    // Firefox
    &::-moz-placeholder {
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }

    &::placeholder {
        color: $color;
    }

    &:placeholder-shown {
        text-overflow: ellipsis;
    }
}

.picker {
    display: inline-flex;

    &-rtl {
        direction: rtl;
    }

    &-body {
        padding: 8px;
    }

    &-content {
        padding: 8px;
        width: 100%;
        text-align: center;
        border-collapse: separate;
        border-spacing: 0;
    }

    &-focused {
        border: 1px solid var(--primary-color);
    }

    &-partial {
        display: inline-block;
        vertical-align: top;
        background: $background-color;
        border: 1px solid #666;

        &-focused {
            border-color: var(--primary-color);
        }

        &-rtl {
            direction: rtl;
        }
    }

    &-decade-partial,
    &-year-partial,
    &-quarter-partial,
    &-month-partial,
    &-week-partial,
    &-date-partial,
    &-time-partial {
        display: flex;
        flex-direction: column;

        table {
            text-align: center;
            border-collapse: collapse;
        }
    }

    &-header {
        display: flex;
        padding: 8px;

        > * {
            flex: none;
        }

        &-view {
            flex: auto;
            height: 28px;
            text-align: center;

            &:not(button) {
                line-height: 28px;
            }
        }
    }

    &-cell {
        color: #aaa;

        &-disabled {
            opacity: 0.2;
        }

        &-inner {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 14px;
            line-height: 20px;
            background: transparent;
            border: 0;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: center;
            transition: background 0.3s, border 0.3s;

            &:hover {
                background: var(--primary-color-60);
                color: var(--text-inverse-color);
            }
        }

        &-in-view {
            color: #333;
        }

        &-in-range &-inner {
            background: var(--primary-color-60);
            color: var(--text-inverse-color);
        }
        &-range-hover-start,
        &-range-hover-end,
        &-range-hover {
            position: relative;
            &:after {
                position: absolute;
                top: 3px;
                right: 0;
                bottom: 0;
                left: 0;
                border: 1px solid var(--primary-color);
                border-right: 0;
                border-left: 0;
                content: '';
                pointer-events: none;
            }
        }

        &-range-hover-start:after {
            border-left: 1px solid var(--primary-color) !important;
        }
        &-range-hover-end:after {
            border-right: 1px solid var(--primary-color) !important;
        }

        &-today > &-inner {
            border: 1px solid var(--primary-color);
        }
        &-range-start > &-inner,
        &-range-end > &-inner,
        &-selected > &-inner {
            background: var(--primary-color);
            color: var(--text-inverse-color);
        }
    }

    &-footer,
    &-picker-footer {
        background: var(--background-color);
        padding: 8px;
    }

    &-ranges {
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;

        li {
            display: inline-block;
        }
    }

    &-ok {
        float: right;
    }

    &-year-partial,
    &-month-partial {
        .picker-cell-inner {
            width: 80px;
        }
    }

    &-week-partial {
        &-row {
            &:hover {
                .picker-cell {
                    background: var(--primary-color-40);
                    color: var(--text-inverse-color);
                }
            }

            &-selected {
                .picker-cell {
                    background: var(--primary-color);
                    color: var(--text-inverse-color);
                }
            }
        }

        .picker-cell,
        .picker-cell-inner {
            width: 20px;
        }

        .picker-cell-week {
            color: #999;
            font-weight: bold;
            font-size: 12px;
        }

        .picker-cell:hover > .picker-cell-inner,
        .picker-cell-selected > .picker-cell-inner {
            background: transparent;
        }
    }

    &-date-partial {
        .picker-cell-inner {
            width: 20px;
        }
    }

    &-time-partial {
        width: auto;

        .picker-content {
            display: flex;
            max-height: 200px;
        }

        &-column {
            flex: none;
            width: 50px;
            margin: 0;
            padding: 0 0 180px 0;
            overflow-x: hidden;
            overflow-y: hidden;
            font-size: 14px;
            text-align: left;
            list-style: none;
            transition: background 0.3s;

            &-active {
                background: var(--primary-color);
                color: var(--text-inverse-color);
            }

            &:hover {
                overflow-y: auto;
            }

            li {
                margin: 0;
                padding: 0;
                cursor: pointer;

                .picker-time-partial-cell-inner {
                    display: block;
                    width: 100%;
                    height: 20px;
                    margin: 0;
                    padding: 0 0 0 12px;
                    color: #333;
                    line-height: 20px;
                    text-align: left;

                    .picker-partial-rtl {
                        padding: 0 12px 0 0;
                        text-align: right;
                    }
                }
            }
        }

        &-cell {
            &-disabled {
                opacity: 0.5;
            }
            &-selected {
                opacity: 1;
            }
        }
    }

    &-datetime-partial {
        display: flex;

        .picker-time-partial {
            border-left: 1px solid #999;
        }

        .picker-date-partial,
        .picker-time-partial {
            transition: opacity 0.3s;
        }

        &-active {
            .picker-date-partial,
            .picker-time-partial {
                opacity: 0.3;

                &-active {
                    opacity: 1;
                }
            }
        }
    }

    &-input {
        position: relative;
        display: inline-flex;
        width: 100%;

        .picker-rtl {
            text-align: right;
        }

        input {
            width: 100%;
            @include placeholder();
        }

        &-placeholder {
            input {
                color: $input-placeholder-color;
            }
        }
    }

    &-clear {
        position: absolute;
        top: 0;
        right: 4px;
        cursor: pointer;

        .picker-rtl {
            right: auto;
            left: 4px;
        }

        &-btn:after {
            content: '×';
        }
    }

    &-dropdown {
        position: absolute;
        box-shadow: 0 0 1px red;

        &-range {
            padding: 10px 0;
        }

        &-hidden {
            display: none;
        }

        $arrow-size: 10px;

        &-placement-topLeft,
        &-placement-topRight {
            .picker-range-arrow {
                bottom: $arrow-size / 2 + 1px;
                transform: rotate(135deg);
            }
        }
        &-placement-bottomLeft,
        &-placement-bottomright {
            .picker-range-arrow {
                top: $arrow-size / 2 + 1px;
                transform: rotate(-45deg);
            }
        }

        .picker-range-arrow {
            position: absolute;
            left: $arrow-size;
            z-index: 1;
            width: $arrow-size;
            height: $arrow-size;
            margin-left: 10px;
            transition: all 0.3s;

            .picker-dropdown-rtl {
                right: $arrow-size;
                left: auto;
                margin-right: 10px;
                margin-left: 0;
            }

            &:before,
            &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                box-sizing: border-box;
                transform: translate(-50%, -50%);
                content: '';

                .picker-dropdown-rtl {
                    right: 50%;
                    left: auto;
                    transform: translate(50%, -50%);
                }
            }

            &:before {
                width: $arrow-size;
                height: $arrow-size;
                border: $arrow-size / 2 solid var(--primary-color);
                border-color: var(--primary-color) var(--primary-color)
                    transparent transparent;
            }

            &:after {
                width: $arrow-size - 2px;
                height: $arrow-size - 2px;
                border: ($arrow-size - 2px) / 2 solid var(--primary-color);
                border-color: $background-color $background-color transparent
                    transparent;
            }
        }
    }

    &-range {
        position: relative;
        display: inline-flex;

        &-wrapper {
            display: flex;
        }

        .picker-active-bar {
            bottom: 0;
            height: 3px;
            background: var(--primary-color);
            color: var(--text-inverse-color);
            opacity: 0;
            transition: all 0.3s;
            pointer-events: none;
        }

        &.picker-focused {
            .picker-active-bar {
                opacity: 1;
            }
        }
    }

    &-partial-container {
        display: inline-block;
        vertical-align: top;
        transition: margin 0.3s;
    }
}
