.input-wrapper {
    position: relative;
    width: fit-content;

    input {
        @include text-overflow;

        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        border-radius: $corner-radius-s;
        box-sizing: border-box;
        color: var(--grey-color-60);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: $text-font-size-3;
        line-height: $text-line-height-1;
        min-width: 120px;
        padding: $space-xs $space-xl $space-xs $space-m;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

        &.with-icon,
        &.with-image-icon {
            padding: $space-xs $space-xl $space-xs $space-xxl;

            &.left-icon {
                padding: $space-xs $space-xl $space-xs $space-xxl;
            }

            &.right-icon {
                padding: $space-xs $space-xxl $space-xs $space-xl;
            }

            &.clear-disabled {
                &.left-icon {
                    padding: $space-xs $space-xs $space-xs $space-xxl;
                }

                &.right-icon {
                    padding: $space-xs $space-xxl $space-xs $space-xs;
                }
            }

            &.clear-not-visible {
                &.right-icon {
                    padding: $space-xs $space-xxl $space-xs $space-xs;
                }
            }
        }

        &.with-icon-button {
            padding: $space-xs $space-xl $space-xs $space-xl;

            &.left-icon,
            &.right-icon {
                padding: $space-xs $space-xl $space-xs $space-xl;
            }

            &.clear-disabled {
                &.left-icon {
                    padding: $space-xs $space-xs $space-xs $space-xl;
                }

                &.right-icon {
                    padding: $space-xs $space-xl $space-xs $space-xs;
                }
            }

            &.clear-not-visible {
                &.right-icon {
                    padding: $space-xs $space-xl $space-xs $space-xs;
                }
            }
        }

        &.with-icon-and-icon-button {
            padding: $space-xs $space-xxl $space-xs 74px;

            &.left-icon {
                padding: $space-xs $space-xxl $space-xs 74px;
            }

            &.right-icon {
                padding: $space-xs 74px $space-xs $space-xxl;
            }

            &.clear-disabled {
                &.left-icon {
                    padding: $space-xs $space-xs $space-xs 74px;
                }

                &.right-icon {
                    padding: $space-xs 74px $space-xs $space-xs;
                }
            }

            &.clear-not-visible {
                &.right-icon {
                    padding: $space-xs 74px $space-xs $space-xs;
                }
            }
        }

        &:hover {
            border-color: var(--grey-color-60);
        }

        &:hover ~ .icon-button {
            background-color: transparent;
            border-color: transparent;

            svg {
                color: var(--grey-color-80);
            }
        }

        &:hover {
            color: var(--text-primary-color);
        }

        &:active ~ .icon-button {
            background-color: transparent;
            border-color: transparent;

            svg {
                color: var(--grey-color-80);
            }
        }

        &:active {
            border-color: var(--grey-color-60);
            color: var(--text-primary-color);
        }

        &:disabled {
            opacity: $disabled-alpha-value;
            cursor: not-allowed;
        }

        &.read-only {
            background-color: var(--grey-color-10);
            color: var(--text-primary-color);
        }

        &:focus ~ .icon-button {
            background-color: transparent;
            border-color: transparent;

            svg {
                color: var(--grey-color-80);
            }
        }

        &:focus {
            color: var(--text-primary-color);
            outline: 1px $focus-visible-outline-style
                $focus-visible-outline-color;
            outline-offset: -1px;
            transition: outline $motion-duration-extra-fast
                $motion-easing-easeinout;
        }

        &:disabled ~ .icon-button {
            background-color: transparent;
            border-color: transparent;

            svg {
                color: var(--text-primary-color);
            }
        }

        &:disabled::placeholder {
            color: var(--text-primary-color);
        }

        &.pill-shape {
            border-color: var(--border-color);
            border-radius: $corner-radius-xl;
            padding: $space-xs $space-s;
        }

        &.pill-shape-with-icon,
        &.pill-shape-with-image-icon {
            padding: $space-xs $space-xl $space-xs $space-xxl;

            &.left-icon {
                padding: $space-xs $space-xl $space-xs $space-xxl;
            }

            &.right-icon {
                padding: $space-xs $space-xxl $space-xs $space-xl;
            }

            &.clear-disabled {
                &.left-icon {
                    padding: $space-xs $space-xs $space-xs $space-xxl;
                }

                &.right-icon {
                    padding: $space-xs $space-xxl $space-xs $space-xs;
                }
            }

            &.clear-not-visible {
                &.right-icon {
                    padding: $space-xs $space-xxl $space-xs $space-xs;
                }
            }
        }

        &.pill-shape-with-icon-button {
            padding: $space-xs $space-xl $space-xs $space-xl;

            &.left-icon,
            &.right-icon {
                padding: $space-xs $space-xl $space-xs $space-xl;
            }

            &.clear-disabled {
                &.left-icon {
                    padding: $space-xs $space-xs $space-xs $space-xl;
                }

                &.right-icon {
                    padding: $space-xs $space-xl $space-xs $space-xs;
                }
            }

            &.clear-not-visible {
                &.right-icon {
                    padding: $space-xs $space-xl $space-xs $space-xs;
                }
            }
        }

        &.pill-shape-with-icon-and-icon-button {
            padding: $space-xs $space-xl $space-xs 74px;

            &.left-icon {
                padding: $space-xs $space-xl $space-xs 74px;
            }

            &.right-icon {
                padding: $space-xs 74px $space-xs $space-xl;
            }

            &.clear-disabled {
                &.left-icon {
                    padding: $space-xs $space-xs $space-xs 74px;
                }

                &.right-icon {
                    padding: $space-xs 74px $space-xs $space-xs;
                }
            }

            &.clear-not-visible {
                &.right-icon {
                    padding: $space-xs 74px $space-xs $space-xs;
                }
            }
        }

        &.pill-shape-with-icon-button ~ .icon-button {
            &.left-icon {
                border-bottom-left-radius: 50%;
                border-top-left-radius: 50%;
            }

            &.right-icon {
                border-bottom-right-radius: 50%;
                border-top-right-radius: 50%;
            }
        }

        &.pill-shape-with-icon-button ~ .clear-icon-button {
            border-bottom-right-radius: 50%;
            border-top-right-radius: 50%;
        }

        &.pill-shape-with-icon-and-icon-button ~ .icon-button {
            &.left-icon {
                border-bottom-left-radius: inherit;
                border-top-left-radius: inherit;
            }

            &.right-icon {
                border-bottom-right-radius: inherit;
                border-top-right-radius: inherit;
            }
        }

        &.underline {
            border-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &.input-size-1 {
            font-size: $text-font-size-4;
            height: 44px;
            line-height: $text-line-height-5;
            padding: $space-xs $space-xxl $space-xs $space-m;

            &.with-icon,
            &.with-image-icon,
            &.with-icon-button {
                padding: $space-xs $space-xxl $space-xs 48px;

                &.left-icon {
                    padding: $space-xs $space-xxl $space-xs 48px;
                }

                &.right-icon {
                    padding: $space-xs 48px $space-xs $space-xxl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 48px;
                    }

                    &.right-icon {
                        padding: $space-xs 48px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 48px $space-xs $space-xs;
                    }
                }
            }

            &.with-icon-and-icon-button {
                padding: $space-xs $space-xxl $space-xs 84px;

                &.left-icon {
                    padding: $space-xs $space-xxl $space-xs 84px;
                }

                &.right-icon {
                    padding: $space-xs 84px $space-xs $space-xxl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 84px;
                    }

                    &.right-icon {
                        padding: $space-xs 84px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 84px $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon,
            &.pill-shape-with-image-icon,
            &.pill-shape-with-icon-button {
                padding: $space-xs $space-xxl $space-xs 48px;

                &.left-icon {
                    padding: $space-xs $space-xxl $space-xs 48px;
                }

                &.right-icon {
                    padding: $space-xs 48px $space-xs $space-xxl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 48px;
                    }

                    &.right-icon {
                        padding: $space-xs 48px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 48px $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon-and-icon-button {
                padding: $space-xs $space-xxl $space-xs 84px;

                &.left-icon {
                    padding: $space-xs $space-xxl $space-xs 84px;
                }

                &.right-icon {
                    padding: $space-xs 84px $space-xs $space-xxl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 84px;
                    }

                    &.right-icon {
                        padding: $space-xs 84px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 84px $space-xs $space-xs;
                    }
                }
            }
        }

        &.input-size-2 {
            font-size: $text-font-size-3;
            height: 36px;
            line-height: $text-line-height-4;
            padding: $space-xs $space-xl $space-xs $space-m;

            &.with-icon,
            &.with-image-icon {
                padding: $space-xs $space-xl $space-xs $space-xxl;

                &.left-icon {
                    padding: $space-xs $space-xl $space-xs $space-xxl;
                }

                &.right-icon {
                    padding: $space-xs $space-xxl $space-xs $space-xxl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs $space-xxl;
                    }

                    &.right-icon {
                        padding: $space-xs $space-xxl $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs $space-xxl $space-xs $space-xs;
                    }
                }
            }

            &.with-icon-button {
                padding: $space-xs $space-xl $space-xs $space-xl;

                &.left-icon,
                &.right-icon {
                    padding: $space-xs $space-xl $space-xs $space-xl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs $space-xl;
                    }

                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }
            }

            &.with-icon-and-icon-button {
                padding: $space-xs $space-xxl $space-xs 74px;

                &.left-icon {
                    padding: $space-xs $space-xxl $space-xs 74px;
                }

                &.right-icon {
                    padding: $space-xs 74px $space-xs $space-xxl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 74px;
                    }

                    &.right-icon {
                        padding: $space-xs 74px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 74px $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon,
            &.pill-shape-with-image-icon {
                padding: $space-xs $space-xl $space-xs $space-xxl;

                &.left-icon {
                    padding: $space-xs $space-xl $space-xs $space-xxl;
                }

                &.right-icon {
                    padding: $space-xs $space-xxl $space-xs $space-xl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs $space-xxl;
                    }

                    &.right-icon {
                        padding: $space-xs $space-xxl $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs $space-xxl $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon-button {
                padding: $space-xs $space-xl $space-xs $space-xl;

                &.left-icon,
                &.right-icon {
                    padding: $space-xs $space-xl $space-xs $space-xl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs $space-xl;
                    }

                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon-and-icon-button {
                padding: $space-xs $space-xl $space-xs 74px;

                &.left-icon {
                    padding: $space-xs $space-xl $space-xs 74px;
                }

                &.right-icon {
                    padding: $space-xs 74px $space-xs $space-xl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 74px;
                    }

                    &.right-icon {
                        padding: $space-xs 74px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 74px $space-xs $space-xs;
                    }
                }
            }
        }

        &.input-size-3 {
            font-size: $text-font-size-2;
            height: 28px;
            line-height: $text-line-height-3;
            padding: $space-xs $space-l $space-xs $space-s;

            &.with-icon,
            &.with-image-icon,
            &.with-icon-button {
                padding: $space-xs calc(#{$space-l} + 4px) $space-xs $space-xl;

                &.left-icon {
                    padding: $space-xs calc(#{$space-l} + 4px) $space-xs
                        $space-xl;
                }

                &.right-icon {
                    padding: $space-xs $space-xl $space-xs
                        calc(#{$space-l} + 4px);
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs $space-xl;
                    }

                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }
            }

            &.with-icon-and-icon-button {
                padding: $space-xs calc(#{$space-l} + 4px) $space-xs 60px;

                &.left-icon {
                    padding: $space-xs calc(#{$space-l} + 4px) $space-xs 60px;
                }

                &.right-icon {
                    padding: $space-xs 60px $space-xs calc(#{$space-l} + 4px);
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 60px;
                    }

                    &.right-icon {
                        padding: $space-xs 60px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 60px $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon,
            &.pill-shape-with-image-icon {
                padding: $space-xs calc(#{$space-l} + 4px) $space-xs $space-xl;

                &.left-icon {
                    padding: $space-xs calc(#{$space-l} + 4px) $space-xs
                        $space-xl;
                }

                &.right-icon {
                    padding: $space-xs $space-xl $space-xs
                        calc(#{$space-l} + 4px);
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs $space-xl;
                    }

                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon-button {
                padding: $space-xs $space-xl $space-xs $space-xl;

                &.left-icon,
                &.right-icon {
                    padding: $space-xs $space-xl $space-xs $space-xl;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs $space-xl;
                    }

                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs $space-xl $space-xs $space-xs;
                    }
                }
            }

            &.pill-shape-with-icon-and-icon-button {
                padding: $space-xs 28px $space-xs 60px;

                &.left-icon {
                    padding: $space-xs 28px $space-xs 60px;
                }

                &.right-icon {
                    padding: $space-xs 60px $space-xs 28px;
                }

                &.clear-disabled {
                    &.left-icon {
                        padding: $space-xs $space-xs $space-xs 60px;
                    }

                    &.right-icon {
                        padding: $space-xs 60px $space-xs $space-xs;
                    }
                }

                &.clear-not-visible {
                    &.right-icon {
                        padding: $space-xs 60px $space-xs $space-xs;
                    }
                }
            }
        }

        &.input-stretch {
            width: 100%;
        }
    }

    .icon-wrapper {
        bottom: 0;
        height: 36px;
        position: absolute;
        width: 36px;

        &.left-icon {
            left: 4px;
        }

        &.right-icon {
            right: 4px;
        }

        span {
            padding: 8px 4px;
        }

        img {
            display: inline-block;
            height: 100%;
            padding: 3px 3px;
            max-width: 30px;
            vertical-align: middle;
        }

        svg {
            color: var(--grey-color-60);
        }
    }

    .icon-button {
        background-color: transparent;
        bottom: 1px;
        color: var(--grey-color-60);
        height: 34px;
        padding: $button-padding-vertical-small $space-xxs;
        position: absolute;
        transition: none;

        &.left-icon {
            left: 2px;
        }

        &.right-icon {
            right: 2px;
        }

        svg {
            color: var(--grey-color-60);
        }

        &:active,
        &:focus {
            background-color: transparent;
            padding: $button-padding-vertical-small $space-xxs;

            svg {
                color: var(--grey-color-60);
            }
        }

        &:hover {
            background-color: transparent;
            padding: $button-padding-vertical-small $space-xxs;
            outline-color: transparent;

            svg {
                color: var(--grey-color-80);
            }
        }
    }

    .clear-icon-button {
        background-color: transparent;
        bottom: 1px;
        color: var(--grey-color-60);
        height: 35px;
        position: absolute;
        right: 2px;
        transition: none;
        width: 35px;

        &.left-icon {
            right: 2px;
        }

        &.right-icon {
            left: 2px;
        }

        &:active,
        &:hover {
            background-color: transparent;
            color: var(--grey-color-80);
            outline-color: transparent;

            svg {
                color: var(--grey-color-80);
            }
        }
    }

    .icon-wrapper:not(:empty) + .icon-button {
        &.left-icon {
            left: $space-xl;
        }

        &.right-icon {
            right: $space-xl;
        }
    }

    .text-area {
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        border-radius: $corner-radius-s;
        box-sizing: border-box;
        color: var(--grey-color-60);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: $text-font-size-3;
        line-height: $text-line-height-4;
        min-height: calc($text-line-height-4 + 2px + $space-xs * 2);
        min-width: 320px;
        padding: $space-xs;

        &::-webkit-resizer {
            display: none;
        }

        &.text-area-no-expand {
            resize: none;
        }

        &.pill-shape {
            border-radius: $corner-radius-xl;
            padding: $space-xs $space-s;
        }

        &:focus {
            outline: 1px $focus-visible-outline-style
                $focus-visible-outline-color;
            outline-offset: -1px;
            transition: outline $motion-duration-extra-fast
                $motion-easing-easeinout;
        }

        &:disabled {
            opacity: $disabled-alpha-value;
            cursor: not-allowed;
        }

        &.read-only {
            background-color: var(--grey-color-10);
            color: var(--text-primary-color);
        }

        &:hover {
            border-color: var(--grey-color-60);
        }

        &.underline {
            border-color: transparent;

            &:focus {
                outline: none;
            }
        }

        &.inline {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        &.input-stretch {
            width: 100%;
        }
    }

    .text-area-resize-icon {
        position: absolute;
        bottom: 8px;
        right: 4px;
    }

    &.pill-shape {
        .text-area-resize-icon {
            bottom: 14px;
            right: 10px;
        }
    }

    &.inline {
        display: flex;
        flex-flow: row wrap;
    }

    .input-group,
    .text-area-group {
        position: relative;

        &.inline {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .text-area-resize-icon {
                bottom: 4px;
            }

            &.pill-shape {
                .text-area-resize-icon {
                    bottom: 10px;
                }
            }
        }
    }

    &.pill-shape {
        .input-group,
        .text-area-group {
            &.inline {
                .text-area-resize-icon {
                    bottom: 10px;
                }
            }
        }
    }

    &.underline {
        .input-group,
        .text-area-group {
            &:before {
                border-bottom: 1px solid var(--border-color);
                left: 0;
                bottom: 0;
                content: '';
                position: absolute;
                right: 0;
                transition: border-bottom-color $motion-duration-extra-fast
                    $motion-easing-easeinout;
                pointer-events: none;
            }

            &:after {
                border-bottom: 1px solid var(--primary-color-60);
                left: 0;
                bottom: 0;
                content: '';
                position: absolute;
                right: 0;
                transform: scaleX(0);
                transition: transform $motion-duration-extra-fast
                    $motion-easing-easeinout;
                pointer-events: none;
            }

            &:hover {
                &:before {
                    border-color: var(--grey-color-60);
                }
            }

            &:focus-within {
                &:after {
                    transform: scaleX(1) translateX(0px);
                }
            }
        }
    }

    &.disabled {
        .clear-icon-button,
        .icon-wrapper,
        .icon-button,
        input,
        textarea {
            opacity: $disabled-alpha-value;
            cursor: not-allowed;
        }
    }

    &.input-size-1 {
        .icon-wrapper {
            bottom: 2px;
            height: 40px;
            width: 40px;

            &.left-icon {
                left: 8px;
            }

            &.right-icon {
                right: 8px;
            }

            span {
                height: 40px;
            }
        }

        .icon-button {
            bottom: 2px;
            height: 40px;

            &.left-icon {
                left: 8px;
            }

            &.right-icon {
                right: 8px;
            }
        }

        .clear-icon-button {
            bottom: 2px;
            height: 40px;
            padding: 12px;
            right: 2px;
            width: 40px;
        }

        .icon-wrapper:not(:empty) + .icon-button {
            &.left-icon {
                left: calc($space-xxl + 4px);
            }

            &.right-icon {
                right: calc($space-xxl + 4px);
            }
        }

        .text-area {
            font-size: $text-font-size-4;
            line-height: $text-line-height-5;
            min-height: calc($text-line-height-5 + 2px + $space-xs * 2);
        }
    }

    &.input-size-2 {
        .icon-wrapper {
            bottom: 0;
            height: 36px;
            width: 36px;

            &.left-icon {
                left: 4px;
            }

            &.right-icon {
                right: 4px;
            }

            span {
                height: 36px;
            }
        }

        .icon-button {
            bottom: 1px;
            height: 34px;
            padding: $button-padding-vertical-small $space-xxs;

            &.left-icon {
                left: 4px;
            }

            &.right-icon {
                right: 4px;
            }
        }

        .clear-icon-button {
            bottom: 1px;
            height: 35px;
            padding: 6px 10px;
            right: 1px;
            width: 35px;
        }

        .icon-wrapper:not(:empty) + .icon-button {
            &.left-icon {
                left: $space-xxl;
            }

            &.right-icon {
                right: $space-xxl;
            }
        }

        .text-area {
            font-size: $text-font-size-3;
            line-height: $text-line-height-4;
            min-height: calc($text-line-height-4 + 2px + $space-xs * 2);
        }
    }

    &.input-size-3 {
        .icon-wrapper {
            bottom: 2px;
            height: 24px;
            width: 24px;

            &.left-icon {
                left: 4px;
            }

            &.right-icon {
                right: 4px;
            }

            span {
                height: 24px;
                padding: 4px;
            }
        }

        .icon-button {
            bottom: 2px;
            height: 24px;
            padding: 4px;

            &.left-icon {
                left: 2px;
            }

            &.right-icon {
                right: 2px;
            }
        }

        .clear-icon-button {
            bottom: 2px;
            height: 24px;
            padding: 4px;
            right: 2px;
            width: 24px;
        }

        .icon-wrapper:not(:empty) + .icon-button {
            &.left-icon {
                left: $space-xl;
            }

            &.right-icon {
                right: $space-xl;
            }
        }

        .text-area {
            font-size: $text-font-size-2;
            line-height: $text-line-height-3;
            min-height: calc($text-line-height-3 + 2px + $space-xs * 2);
        }
    }

    &.input-stretch {
        width: 100%;
    }
}

:global(.focus-visible) {
    .input-wrapper {
        input[type='search'],
        input[type='text'] {
            &:focus-visible {
                outline-width: $focus-visible-outline-width;
                outline-offset: $focus-visible-outline-offset-inner;
            }
        }

        .icon-button {
            &:focus-visible {
                background-color: var(--background-color);
                outline: $focus-visible-outline-width
                    $focus-visible-outline-style $focus-visible-outline-color;
                outline-offset: $focus-visible-outline-offset-inner;
                padding: $button-padding-vertical-small $space-xxs;

                svg {
                    color: var(--grey-color-60);
                }
            }
        }

        .clear-icon-button {
            &:focus-visible {
                background-color: transparent;
                outline: $focus-visible-outline-width
                    $focus-visible-outline-style $focus-visible-outline-color;
                outline-offset: $focus-visible-outline-offset-inner;

                svg {
                    color: var(--grey-color-80);
                }
            }
        }

        .text-area {
            &:focus-visible {
                outline-width: $focus-visible-outline-width;
                outline-offset: $focus-visible-outline-offset-inner;
            }
        }
    }
}

.dark {
    .input-wrapper {
        position: relative;
    }
}
