.tab-wrap {
    display: flex;

    &.scrollable {
        overflow-x: scroll;
        @include no-scrollbars;
    }

    .tab {
        display: flex;
        border: none;
        cursor: pointer;
        padding: $space-s $space-m;
        color: var(--tab-label);
        align-items: center;
        justify-content: center;
        position: relative;
        transition: background-color $motion-duration-fast
            $motion-easing-easeout 0s;

        &:first-child {
            padding-left: 0;
            .tab-indicator {
                width: calc(100% - #{$space-xl / 2});
            }
        }

        &:hover,
        &:focus {
            color: var(--tab-hover-label);
            background: var(--tab-hover-background);
            transition: all $motion-duration-fast $motion-easing-easeout 0s;
        }

        &.active {
            color: var(--tab-active-label);
            background-color: var(--tab-active-background);
            transition: transform $motion-duration-fast $motion-easing-easeout
                0s;
        }

        &:disabled {
            opacity: $disabled-alpha-value;
            cursor: not-allowed;
        }

        &.inverse {
            --tab-active-label: var(--text-inverse-color);
        }

        .tab-indicator {
            position: absolute;
            z-index: 1;
            height: $space-xxxs;
            bottom: 0;
            width: calc(100% - #{$space-xl});
            background: var(--tab-indicator-color);
            border-radius: $space-xxs $space-xxs 0 0;
        }

        .label {
            font-weight: $text-font-weight-semibold;
            font-size: $text-font-size-3;
            white-space: nowrap;
        }

        .badge {
            margin-left: $space-xs;
        }

        .icon + .label:not(:empty) {
            margin-left: $space-xs;
        }
    }

    &.small {
        --tab-active-background: var(--tab-small-active-background);
        --tab-hover-background: var(--tab-small-hover-background);

        .tab {
            padding: $space-l $space-m;

            .tab-indicator {
                height: $space-xxs;
            }
        }
    }

    &.pill {
        --tab-label: var(--tab-pill-label);
        --tab-active-label: var(--tab-pill-active-label);
        --tab-active-background: var(--tab-pill-active-background);
        --tab-hover-label: var(--tab-pill-hover-label);
        background-color: var(--tab-pill-background);
        width: fit-content;
        border-radius: $corner-radius-xl;
        padding: $space-xs;

        .tab {
            padding: $space-xs $space-m;
            border-radius: $corner-radius-xl;

            &.active {
                .badge {
                    --bg: var(--primary-color-10);
                }
            }
            .tab-indicator {
                display: none;
            }
        }
    }
}
