.tab-wrap {
    --label: var(--text-secondary-color);
    --active-label: var(--primary-color);
    --active-bg: transparent;
    --hover-label: var(--primary-color);
    --hover-bg: transparent;
    --indicator: var(--primary-color);
    display: flex;

    &.scrollable {
        overflow-x: scroll;
        @include no-scrollbars;
    }

    .tab {
        display: flex;
        border: none;
        cursor: pointer;
        padding: $space-s $space-m;
        color: var(--label);
        align-items: center;
        justify-content: center;
        position: relative;
        transition: background-color $motion-duration-fast
            $motion-easing-easeout 0s;

        &:hover,
        &:focus {
            color: var(--hover-label);
            background: var(--hover-bg);
            transition: all $motion-duration-fast $motion-easing-easeout 0s;
        }

        &.active {
            color: var(--active-label);
            background-color: var(--active-bg);
            transition: transform $motion-duration-fast $motion-easing-easeout
                0s;
        }

        &:disabled {
            opacity: $disabled-alpha-value;
            cursor: not-allowed;
        }

        &.inverse {
            --active-label: var(--text-inverse-color);
        }

        .tab-indicator {
            position: absolute;
            z-index: 1;
            height: $space-xxxs;
            bottom: 0;
            width: calc(100% - #{$space-xl});
            background: var(--indicator);
            border-radius: $space-xxs $space-xxs 0 0;
        }

        .label {
            font-weight: $text-font-weight-semibold;
            font-size: $text-font-size-3;
            white-space: nowrap;
        }

        .badge {
            margin-left: $space-xs;
        }

        .icon + .label:not(:empty) {
            margin-left: $space-xs;
        }
    }

    &.small {
        --active-bg: var(--primary-color-10);
        --hover-bg: var(--primary-color-10);

        .tab {
            padding: $space-l $space-m;

            .tab-indicator {
                height: $space-xxs;
            }
        }
    }

    &.pill {
        --label: var(--text-secondary-color);
        --active-label: var(--primary-color);
        --active-bg: var(--accent-color-20);
        --hover-label: var(--primary-color);
        width: fit-content;
        background-color: var(--grey-color-10);
        border-radius: $corner-radius-xl;
        padding: $space-xs;

        .tab {
            padding: $space-xs $space-m;
            border-right: none;
            border-radius: $corner-radius-xl;

            .tab-indicator {
                display: none;
            }
        }
    }
}
