.flex-structure-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-evenly;
  //flex-grow: 1;

  &.full-height{
    height: 100vh;
  }
}

.flex-structure-vertical{
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  &.full-height{
    height: 100vh;
    width: 100%;
  }
}

.octuple-menu{
  display: flex;
  flex-direction: column;
  padding-left: $space-xl;

  .logo-text{
    padding-top: $space-m;
    font-size: $text-font-size-8;
    line-height: $text-line-height-7;
    //color: $eightfold-logo-gradient;
    font-weight: $text-font-weight-bold;
    font-family: "Source Sans Pro", sans-serif;
    background: $eightfold-logo-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.spacer{

  &.button-spacer-1{
    width: $button-spacer-large;
  }
  &.button-spacer-2{
    width: $button-spacer-medium;
  }
  &.button-spacer-3{
    width: $button-spacer-small;
  }

  &.space-m{
    min-width: $space-m;
  }

  &.chevron-spacer{
    width: $space-xxs;
  }

}

.divider-line{
  background-color: $divider-line-color;
  width: 100%;
  height: rem(1px);
}

.custom-padding-vertical{

  .s{
    min-height: $space-s;
  }

  .m{
    min-height: $space-m;
  }

  .l{
    min-height: $space-l;
  }

  .xl{
    min-height: $space-xl;
  }

  .xxl{
    min-height: $space-xxl;
  }

  .xxxl{
    min-height: $space-xxxl;
  }

}

.icon, .chevron-icon {
  display: flex;
  align-items: center!important;
  text-align: center!important;

  .icon-1-material{
    font-size: $icon-font-size-material-l;
    height: $text-line-height-3;
  }

  .icon-2-material{
    font-size: $icon-font-size-material-m;
    height: $text-line-height-2;
  }

  .icon-3-material{
    font-size: $icon-font-size-material-s;
    height: $text-line-height-1;
  }

  .icon-4-material{
    font-size: $icon-font-size-material-xs;
    height: $text-line-height-1;
  }

}
