.avatar-group {
  &-rtl {
    :not(:first-child):not(.avatar-group-tooltip) {
      margin-right: -$space-xs;
      margin-left: 0;
    }
  }

  &.spaced {
    &-rtl {
      :not(:first-child):not(.avatar-group-spaced-tooltip) {
        margin-right: -$space-xxxs;
        margin-left: 0;
      }
    }
  }
}
