.dialog-backdrop {
    @include backdrop;
    align-items: center;
    display: flex;
    font-family: $octuple-font-family;
    justify-content: center;

    .dialog {
        position: absolute;
        padding: $space-ml;
        background: var(--background-color);
        border-radius: $corner-radius-xl;
        box-shadow: $shadow-object-l;
        opacity: 0;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-buttons {
                align-items: flex-end;
                align-self: start;
                height: fit-content;
                justify-content: right;
                white-space: nowrap;
            }
        }
    }

    &.visible {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        .dialog {
            animation: scaleIn $motion-duration-extra-fast
                $motion-easing-easeinout 0s forwards;
        }
    }
}
