$layout-aside-background-dark: var(--grey-color-80);
$layout-aside-color-dark: var(--text-inverse-color);
$layout-body-background-dark: var(--grey-color-80);
$layout-content-background-dark: var(--grey-color-80);
$layout-content-color-dark: var(--text-inverse-color);
$layout-header-background-dark: var(--grey-color-80);
$layout-header-color-dark: var(--text-inverse-color);
$layout-nav-background-dark: var(--grey-color-80);
$layout-nav-color-dark: var(--text-inverse-color);
$layout-footer-background-dark: var(--grey-color-80);
$layout-footer-color-dark: var(--text-inverse-color);
