:root {
    --primary-color-10: #ebf7ff;
    --primary-color-20: #bce4ff;
    --primary-color-30: #8ed0fa;
    --primary-color-40: #68baef;
    --primary-color-50: #47a4df;
    --primary-color-60: #2c8cc9;
    --primary-color-70: #146da6;
    --primary-color-80: #054d7b;
    --primary-color-90: #002a47;
    --primary-color-100: #00060a;
    --primary-color: #146da6;
    --disruptive-color-10: #ffefef;
    --disruptive-color-20: #ffc6c6;
    --disruptive-color-30: #ffa3a3;
    --disruptive-color-40: #f48686;
    --disruptive-color-50: #e46f6f;
    --disruptive-color-60: #c15151;
    --disruptive-color-70: #993838;
    --disruptive-color-80: #6c2222;
    --disruptive-color-90: #3b1010;
    --disruptive-color-100: #0a0202;
    --disruptive-color: #993838;
    --red-color-10: #ffefef;
    --red-color-20: #ffc6c6;
    --red-color-30: #ffa3a3;
    --red-color-40: #f48686;
    --red-color-50: #e46f6f;
    --red-color-60: #c15151;
    --red-color-70: #993838;
    --red-color-80: #6c2222;
    --red-color-90: #3b1010;
    --red-color-100: #0a0202;
    --red-color: #993838;
    --orange-color-10: #fff8eb;
    --orange-color-20: #ffe3b0;
    --orange-color-30: #ffcd78;
    --orange-color-40: #ffb650;
    --orange-color-50: #f29d31;
    --orange-color-60: #c97e19;
    --orange-color-70: #9d6309;
    --orange-color-80: #6c4500;
    --orange-color-90: #3b2600;
    --orange-color-100: #0a0700;
    --orange-color: #9d6309;
    --yellow-color-10: #ffffeb;
    --yellow-color-20: #fff89c;
    --yellow-color-30: #ffe44e;
    --yellow-color-40: #f1c40f;
    --yellow-color-50: #d6ad00;
    --yellow-color-60: #a88f00;
    --yellow-color-70: #857600;
    --yellow-color-80: #5c5500;
    --yellow-color-90: #333100;
    --yellow-color-100: #0a0a00;
    --yellow-color: #857600;
    --green-color-10: #f0fefa;
    --green-color-20: #b9f4e4;
    --green-color-30: #8ce1ca;
    --green-color-40: #67c5ac;
    --green-color-50: #51ab93;
    --green-color-60: #3d8f79;
    --green-color-70: #2b715f;
    --green-color-80: #1b5143;
    --green-color-90: #0e2e26;
    --green-color-100: #030a08;
    --green-color: #2b715f;
    --bluegreen-color-10: #ebfdff;
    --bluegreen-color-20: #b0f3fe;
    --bluegreen-color-30: #7be4f4;
    --bluegreen-color-40: #50cee1;
    --bluegreen-color-50: #2db3c7;
    --bluegreen-color-60: #1999ac;
    --bluegreen-color-70: #0b7b8b;
    --bluegreen-color-80: #025966;
    --bluegreen-color-90: #00333b;
    --bluegreen-color-100: #00090a;
    --bluegreen-color: #0b7b8b;
    --blue-color-10: #ebf7ff;
    --blue-color-20: #bce4ff;
    --blue-color-30: #8ed0fa;
    --blue-color-40: #68baef;
    --blue-color-50: #47a4df;
    --blue-color-60: #2c8cc9;
    --blue-color-70: #146da6;
    --blue-color-80: #054d7b;
    --blue-color-90: #002a47;
    --blue-color-100: #00060a;
    --blue-color: #146da6;
    --violet-color-10: #fbf6fb;
    --violet-color-20: #ead3e8;
    --violet-color-30: #d8b1d4;
    --violet-color-40: #c491bf;
    --violet-color-50: #ae72a8;
    --violet-color-60: #975590;
    --violet-color-70: #7e3a77;
    --violet-color-80: #5d2156;
    --violet-color-90: #350e31;
    --violet-color-100: #060106;
    --violet-color: #7e3a77;
    --grey-color-10: #f6f7f8;
    --grey-color-20: #d9dce1;
    --grey-color-30: #bdc1c9;
    --grey-color-40: #a1a6b1;
    --grey-color-50: #858b98;
    --grey-color-60: #69717f;
    --grey-color-70: #4f5666;
    --grey-color-80: #343c4c;
    --grey-color-90: #1a212e;
    --grey-color-100: #05070a;
    --grey-color: #4f5666;
    --background-color: #fff;
    --border-color: #bec2ca;
    --text-primary-color: #1a212e;
    --text-secondary-color: #4f5666;
    --text-inverse-color: #fff;
    --success-color: #2b715f;
    --warning-color: #9d6309;
    --error-color: #993838;
    --info-color: #4f5666;
    --white-color: #fff;
    --black-color: #000;

    --button-primary-default-foreground-color: #fff;
    --button-primary-hover-foreground-color: #fff;
    --button-primary-focus-foreground-color: #fff;
    --button-primary-active-foreground-color: #fff;
    --button-primary-visited-foreground-color: #fff;

    --button-primary-default-background-color: #146da6;
    --button-primary-hover-background-color: #2c8cc9;
    --button-primary-focus-background-color: #054d7b;
    --button-primary-active-background-color: #054d7b;
    --button-primary-visited-background-color: #054d7b;

    --button-primary-default-border-color: #146da6;
    --button-primary-hover-border-color: #2c8cc9;
    --button-primary-focus-border-color: #054d7b;
    --button-primary-active-border-color: #054d7b;
    --button-primary-visited-border-color: #054d7b;

    --button-neutral-default-foreground-color: #4f5666;
    --button-neutral-hover-foreground-color: #4f5666;
    --button-neutral-focus-foreground-color: #4f5666;
    --button-neutral-active-foreground-color: #4f5666;
    --button-neutral-visited-foreground-color: #4f5666;

    --button-default-foreground-color: #146da6;
    --button-hover-foreground-color: #146da6;
    --button-focus-foreground-color: #054d7b;
    --button-active-foreground-color: #054d7b;
    --button-visited-foreground-color: #054d7b;

    --button-default-background-color: #fff;
    --button-hover-background-color: #ebf7ff;
    --button-focus-background-color: #ebf7ff;
    --button-active-background-color: #ebf7ff;
    --button-visited-background-color: #ebf7ff;

    --button-hover-variant-background-color: #bce4ff;

    --button-default-outline-color: #146da6;
    --button-hover-outline-color: #2c8cc9;
    --button-focus-outline-color: #054d7b;
    --button-active-outline-color: #054d7b;
    --button-visited-outline-color: #054d7b;

    --font-size: 16px;
}
