:root {
    --primary-color-10: #00060a;
    --primary-color-20: #002a47;
    --primary-color-30: #054d7b;
    --primary-color-40: #146da6;
    --primary-color-50: #2c8cc9;
    --primary-color-60: #47a4df;
    --primary-color-70: #68baef;
    --primary-color-80: #8ed0fa;
    --primary-color-90: #bce4ff;
    --primary-color-100: #ebf7ff;
    --primary-color: #146da6;
    --background-color: #fff;
    --text-primary-color: #1a212e;
    --text-secondary-color: #4f5666;
    --text-inverse-color: #fff;
    --success-color: #2b715f;
    --warning-color: #9d6309;
    --error-color: #993838;
    --info-color: #4f5666;
    --white: #fff;
    --black: #000;
}
