// BEGIN: VARIABLE COLOR DEFINITIONS

$color-background1-red: var(--red-color-10);
$color-background1-orange: var(--orange-color-10);
$color-background1-yellow: var(--yellow-color-10);
$color-background1-green: var(--green-color-10);
$color-background1-blue-green: var(--bluegreen-color-10);
$color-background1-blue: var(--blue-color-10);
$color-background1-violet: var(--violet-color-10);
$color-background1-grey: var(--grey-color-10);

$color-background2-red: var(--red-color-20);
$color-background2-orange: var(--orange-color-20);
$color-background2-yellow: var(--yellow-color-20);
$color-background2-green: var(--green-color-20);
$color-background2-blue-green: var(--bluegreen-color-20);
$color-background2-blue: var(--blue-color-20);
$color-background2-violet: var(--violet-color-20);
$color-background2-grey: var(--grey-color-20);

$color-background3-red: var(--red-color-30);
$color-background3-orange: var(--orange-color-30);
$color-background3-yellow: var(--yellow-color-30);
$color-background3-green: var(--green-color-30);
$color-background3-blue-green: var(--bluegreen-color-30);
$color-background3-blue: var(--blue-color-30);
$color-background3-violet: var(--violet-color-30);
$color-background3-grey: var(--grey-color-30);

$color-primary-red: var(--red-color-80);
$color-primary-orange: var(--orange-color-80);
$color-primary-yellow: var(--yellow-color-80);
$color-primary-green: var(--green-color-80);
$color-primary-blue-green: var(--bluegreen-color-80);
$color-primary-blue: var(--blue-color-80);
$color-primary-violet: var(--violet-color-80);
$color-primary-grey: var(--grey-color-80);

$color-secondary-red: var(--red-color-70);
$color-secondary-orange: var(--orange-color-70);
$color-secondary-yellow: var(--yellow-color-70);
$color-secondary-green: var(--green-color-70);
$color-secondary-blue-green: var(--bluegreen-color-70);
$color-secondary-blue: var(--blue-color-70);
$color-secondary-violet: var(--violet-color-70);
$color-secondary-grey: var(--grey-color-70);

$color-tertiary-red: var(--red-color-60);
$color-tertiary-orange: var(--orange-color-60);
$color-tertiary-yellow: var(--yellow-color-60);
$color-tertiary-green: var(--green-color-60);
$color-tertiary-blue-green: var(--bluegreen-color-60);
$color-tertiary-blue: var(--blue-color-60);
$color-tertiary-violet: var(--violet-color-60);
$color-tertiary-grey: var(--grey-color-60);

$button-color-primary-active: var(--blue-color-70);
$button-color-primary-hover: var(--blue-color-60);
$button-color-primary-pressed: var(--blue-color-80);
$button-color-primary-focused-border: var(--blue-color-80);
$button-text__color-primary: var(--text-inverse-color);

$button-color-disruptive-active: var(--disruptive-color-70);
$button-color-disruptive-hover: var(--disruptive-color-60);
$button-color-disruptive-pressed: var(--disruptive-color-80);
$button-color-disruptive-focused-border: var(--disruptive-color-80);
$button-text__color-disruptive-primary: var(--text-inverse-color);
$button-text__color-disruptive-secondary: var(--disruptive-color);

$button-color-secondary-active: var(--blue-color-70);
$button-color-secondary-hover: var(--blue-color-60);
$button-color-secondary-pressed: var(--blue-color-80);
$button-color-secondary-focused-border: var(--blue-color-80);

$button-text__color-default: var(--blue-color-70);
$button-color-default-hover: var(--blue-color-20);
$button-color-default-pressed: var(--blue-color-10);
$button-color-default-focused-border: var(--blue-color-80);
$button-color-default-active: rgba(var(--blue-color-40), 0.01);

$button-text__color-neutral: var(--grey-color-70);
$button-color-neutral-hover: var(--grey-color-20);
$button-color-neutral-pressed: var(--grey-color-10);
$button-color-neutral-focused-border: var(--blue-color-80);
$button-color-neutral-active: rgba(var(--blue-color-40), 0.01);

$text-color-primary: var(--grey-color-90);
$text-color-secondary: var(--grey-color-80);

$card-background-color: var(--background-color);
$background-color-white: var(--background-color);

$input-field-color-enabled: var(--grey-color-40);

$divider-line-color: var(--grey-color-40);

// END: VARIABLE COLOR DEFINITIONS

// BEGIN: CONSTANTS

// Typography Definitions

$text-font-size-1: rem(12px);
$text-font-size-2: rem(14px);
$text-font-size-3: rem(16px);
$text-font-size-4: rem(18px);
$text-font-size-5: rem(20px);
$text-font-size-6: rem(24px);
$text-font-size-7: rem(32px);
$text-font-size-8: rem(40px);
$text-font-size-9: rem(56px);
$text-font-size-10: rem(64px);
$text-font-size-11: rem(80px);
$text-font-size-12: rem(96px);

$text-line-height-1: rem(16px);
$text-line-height-2: rem(20px);
$text-line-height-3: rem(24px);
$text-line-height-4: rem(28px);
$text-line-height-5: rem(32px);
$text-line-height-6: rem(40px);
$text-line-height-7: rem(48px);
$text-line-height-8: rem(64px);
$text-line-height-9: rem(72px);
$text-line-height-10: rem(96px);
$text-line-height-11: rem(112px);

$text-font-weight-extra-light: 200;
$text-font-weight-light: 300;
$text-font-weight-regular: 400;
$text-font-weight-semibold: 600;
$text-font-weight-bold: 700;
$text-font-weight-black: 900;

$text-letter-spacing-xs: -0.01rem;
$text-letter-spacing-s: -0.015rem;
$text-letter-spacing-m: -0.02rem;
$text-letter-spacing-l: -0.03rem;

// Icon Definitions

$icon-font-size-material-xs: rem(14px);
$icon-font-size-material-s: rem(16px);
$icon-font-size-material-m: rem(20px);
$icon-font-size-material-l: rem(24px);

// Gradient Definitions

$eightfold-logo-gradient: linear-gradient(
    90deg,
    #3186c8 0.01%,
    #269fca 18.01%,
    #1db4cc 38.02%,
    #1abbcd 50.02%,
    #6fc6aa 100.03%
);

// Shadow Definitions

$shadow-object-xs: 0px 1px 2px rgba(15, 20, 31, 0.12);
$shadow-object-s: 0px 1px 2px rgba(15, 20, 31, 0.12),
    0px 1px 4px rgba(15, 20, 31, 0.16); // Smallest UI object like tooltips.
$shadow-object-m: 0px 1px 2px rgba(15, 20, 31, 0.12),
    0px 2px 8px rgba(15, 20, 31, 0.16); // UI objects like card, dropdown menu, etc
$shadow-object-l: 0px 1px 2px rgba(15, 20, 31, 0.12),
    0px 4px 16px rgba(15, 20, 31, 0.16); // Large UI objects like popover, dialog, etc
$shadow-object-xl: 0px 1px 2px rgba(15, 20, 31, 0.12),
    0px 8px 32px rgba(15, 20, 31, 0.16); // Largest UI objects like modal, slide-in panel, etc
$shadow-panel-right: -1px 0px 2px rgba(15, 20, 31, 0.12),
    -8px 0px 32px rgba(15, 20, 31, 0.16);

// Spacing Definitions

$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l-fitted: 20px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 40px;
$space-xxxl: 64px;

$button-padding-vertical-large: 10px;
$button-padding-horizontal-large: 14px;
$button-padding-menu-large: 10px;
$button-spacer-large: 8px;
$button-padding-vertical-default-large: 10px;
$button-padding-horizontal-default-large: 2px;

$button-padding-vertical-medium: 8px;
$button-padding-horizontal-medium: 12px;
$button-padding-menu-medium: 8px;
$button-spacer-medium: 6px;
$button-padding-vertical-default-medium: 8px;
$button-padding-horizontal-default-medium: 2px;

$button-padding-vertical-small: 6px;
$button-padding-horizontal-small: 10px;
$button-padding-menu-small: 4px;
$button-spacer-small: 4px;
$button-padding-vertical-default-small: 6px;
$button-padding-horizontal-default-small: 2px;

// Corner-radius Definitions

$corner-radius-s: 4px;
$corner-radius-m: 8px;
$corner-radius-l: 16px;
$corner-radius-xl: 24px;

// Speed / Duration Definitions

$motion-duration-extra-fast: 200ms; // Smallest UI objects like buttons (hover effect), tooltips, etc.
$motion-duration-fast: 400ms; // Small UI object like dialogs, notifications, dropdowns, instructional tooltips, etc.
$motion-duration-normal: 600ms; // UI objects like card, popover, etc.
$motion-duration-slow: 800ms; // Large UI objects like alert banners, modals, etc
$motion-duration-extra-slow: 1000ms; // Largest UI objects like slide-in panels, page transitions, etc.

// Easing Definitions

$motion-easing-easeout: cubic-bezier(
    0,
    0,
    0.58,
    1
); // EaseOut is used when an element is appearing on-screen or within a component
$motion-easing-easein: cubic-bezier(
    0.42,
    0,
    1,
    1
); // EaseIn is used when an element is removed from the screen or within a component
$motion-easing-easeinout: cubic-bezier(
    0.42,
    0,
    0.58,
    1
); // The primary easing curve. Used for any core animation not entering/exiting the screen or a component

// Movement Definitions

$motion-movement-s: 8px; // Used in animations involving parts of a component
$motion-movement-m: 16px; // Used in animations of smaller components
$motion-movement-l: 24px; // Used in animations of larger components
$motion-movement-xl: 32px; // Used in animations involving the largest components

// Delay Definitions

$motion-delay-s: 80ms; // Used in animations within components
$motion-delay-m: 120ms; // Used in animations of smaller components
$motion-delay-l: 160ms; // Used in animations of larger components
$motion-delay-xl: 200ms; // Used in animations involving multiple components

// Disabled Definitions

$disabled-alpha-value: 0.3;
$disabled-zero: 0;

// Z-index Definitions
$z-index-auto: auto;
$z-index-top: 99999; //this is a super weapon. use it wisely.
$z-index-500: 500; //warning and alerts. needs to be on top of all the components
$z-index-400: 400;
$z-index-300: 300;
$z-index-200: 200;
$z-index-100: 100; //dropdown menu, tooltip, etc
$z-index-0: 0;
$z-index-bottom: -100;

$all-backdrops: rgba(0, 0, 0, 0.5);

// END: CONSTANTS
