.selector {
    display: flex;
    position: relative;
    width: fit-content;
    vertical-align: baseline;

    input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 1;

        &[disabled] {
            cursor: default;

            & + label {
                .checkmark {
                    opacity: 50%;
                }
            }

            &:focus,
            &:focus-visible + label {
                .checkmark {
                    outline: none;
                    border: $space-xxxs solid var(--grey-color-70);
                }
            }

            &:hover + label {
                .checkmark {
                    border: $space-xxxs solid var(--grey-color-70);
                }
            }

            &:active + label {
                .checkmark {
                    border: $space-xxxs solid var(--grey-color-70);
                }
            }
        }

        & + label {
            .checkmark {
                height: $checkmark-height;
                width: $checkmark-width;
                position: relative;
                top: 0;
                left: 0;
                border-radius: $corner-radius-s;
                border: $space-xxxs solid var(--grey-color-70);
                transition: all $motion-duration-extra-fast $motion-ease-in-back
                    $motion-delay-s;

                &:after {
                    content: '';
                    position: absolute;
                    left: $checkmark-after-left;
                    top: $checkmark-after-top;
                    width: $checkmark-after-width;
                    height: $icon-font-size-material-xs;
                    border: solid white;
                    border-width: 0 $space-xxxs $space-xxxs 0;
                    opacity: 0;
                    transform: rotate(45deg) scale(0);
                    display: block;
                    transition: all $motion-duration-extra-fast
                        $motion-ease-in-back $motion-delay-s;
                }
            }
        }

        &:focus,
        &:focus-visible + label {
            .checkmark {
                border: $space-xxxs solid var(--primary-color);
                outline: $space-xxxs solid var(--primary-color-50);
                outline-offset: $selector-outline-offset;
            }
        }

        &:hover + label {
            .checkmark {
                border: $space-xxxs solid var(--primary-color-60);
            }
        }
    }

    input:checked {
        &[disabled] {
            cursor: default;

            &:focus,
            &:focus-visible + label {
                .checkmark {
                    outline: none;
                }
            }

            &:hover + label {
                .checkmark {
                    background-color: var(--primary-color);
                    border: $space-xxxs solid var(--primary-color);
                }
            }

            &:active + label {
                .checkmark {
                    transform: none;
                    background-color: var(--primary-color);
                    border: $space-xxxs solid var(--primary-color);
                }
            }
        }

        & + label {
            transition: all $motion-duration-extra-fast $motion-ease-out-back
                $motion-delay-s;

            .checkmark {
                background-color: var(--primary-color);
                border: $space-xxxs solid var(--primary-color);
            }

            .checkmark:after {
                opacity: 1;
                transform: rotate(45deg) scale(1);
                transition: all $motion-duration-extra-fast
                    $motion-ease-out-back $motion-delay-s;
            }
        }

        &:focus,
        &:focus-visible + label {
            .checkmark {
                outline: $space-xxxs solid var(--primary-color-50);
                outline-offset: $selector-outline-offset;
            }
        }

        &:active + label {
            .checkmark {
                transform: scale(0.98);
                background-color: var(--primary-color-80);
                border: $space-xxxs solid var(--primary-color-80);
            }
        }

        &:hover + label {
            .checkmark {
                background-color: var(--primary-color-60);
                border: $space-xxxs solid var(--primary-color-60);
            }
        }
    }

    label {
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        position: relative;
        user-select: none;
        vertical-align: baseline;
    }

    .selector-label {
        margin-left: $space-xs;
        font-size: medium;
        margin-top: $space-xxxs;
    }
}

.checkbox-group {
    .selector {
        margin-bottom: $space-m;
    }
}

.label-no-value {
    margin-bottom: $label-no-value-margin-bottom;
}
