.select-wrapper {
    width: 100%;
    position: relative;

    .select-dropdown-overlay {
        width: 400px;
    }

    .select-dropdown-main-wrapper {
        width: 100%;
    }

    .select-input {
        cursor: pointer;
    }

    .multi-select-pills {
        position: absolute;
        z-index: 1;
        left: $space-xs;
        right: $space-xxl;
        top: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .multi-select-pill {
        max-width: 64px;
        text-align: center;
        display: flex;
        justify-content: center;

        span {
            @include text-overflow;
            max-width: 64px;
        }
    }

    .multi-select-count {
        margin-left: $space-xs;
    }

    .selected-option {
        background-color: var(--primary-color-10);
        color: var(--primary-color-80);
    }
}
