.select-wrapper {
    font-family: $octuple-font-family;
    position: relative;
    width: 100%;

    .select-dropdown-overlay {
        width: 400px;

        .select-spinner {
            margin: 4px auto;
            position: relative;
        }
    }

    .select-dropdown-main-wrapper {
        width: 100%;
    }

    .select-input {
        cursor: pointer;
    }

    .multi-select-pills {
        align-items: center;
        display: flex;
        flex-direction: row;
        left: $space-xs;
        right: $space-xxl;
        pointer-events: none;
        position: absolute;
        top: 6px;
        z-index: 1;
    }

    .multi-select-pill {
        max-width: 96px;
        text-align: center;
        display: flex;
        justify-content: center;
        pointer-events: all;

        span {
            @include text-overflow;
            max-width: 80px;
        }
    }

    .multi-select-count {
        margin-left: $space-xs;
    }

    .selected-option {
        background-color: var(--primary-color-10);
        color: var(--primary-color-80);
    }

    &.select-size-1 {
        .multi-select-pills {
            top: 7px;
        }
    }

    &.select-size-2 {
        .multi-select-pills {
            top: 5px;
        }
    }

    &.select-size-3 {
        .multi-select-pills {
            top: 4px;

            .multi-select-count,
            .multi-select-pill {
                padding: 2px 12px;
            }
        }
    }
}

.select-menu-empty {
    color: var(--grey-color-60);
    margin: 10px auto;
    position: relative;
}

.select-tooltip {
    max-width: unset;
}
