.selector {
    display: flex;
    font-family: $octuple-font-family;
    position: relative;
    width: fit-content;

    input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 1;

        &[disabled] {
            & + label {
                opacity: $disabled-alpha-value;
                cursor: not-allowed;
            }
        }

        & + label {
            &.align-start {
                align-items: flex-start;
                display: flex;
            }

            &.align-end {
                align-items: flex-end;
                display: flex;
            }

            &.align-start .radio-button {
                margin-top: $space-xxxs;
            }

            .radio-button {
                border: $space-xxxs solid var(--grey-color-70);
                border-radius: 50%;
                height: $radio-medium-height;
                width: $radio-medium-width;
                min-height: $radio-medium-height;
                min-width: $radio-medium-width;
                position: relative;
                transition: all $motion-duration-extra-fast
                    $motion-easing-easeinout 0s;
                width: $radio-medium-width;

                &:after {
                    top: $radio-medium-after-top;
                    left: $radio-medium-after-left;
                    width: $radio-medium-after-width;
                    height: $radio-medium-after-height;
                    background-color: var(--primary-color-70);
                    border-radius: 50%;
                    border: solid 1px var(--primary-color-70);
                    content: '';
                    position: absolute;
                    transform: scale(0);
                    opacity: 0;
                    display: block;
                    transition-duration: $motion-duration-extra-fast;
                    transition-property: opacity;
                    transition-property: transform;
                    transition-timing-function: $motion-easing-easeinout;
                }
            }
        }

        &:not(.disabled):not([disabled]):hover + label {
            .radio-button {
                background-color: var(--accent-color-20);
                border: $space-xxxs solid var(--primary-color-70);
            }
        }

        &:not(.disabled):not([disabled]):active + label {
            .radio-button {
                background-color: var(--accent-color-30);
                border: $space-xxxs solid var(--primary-color-70);
            }
        }
    }

    input:checked {
        &[disabled] {
            & + label {
                opacity: $disabled-alpha-value;
                cursor: not-allowed;
            }
        }

        & + label {
            transition: all $motion-duration-extra-fast $motion-easing-easeinout
                0s;

            .radio-button {
                background-color: var(--accent-color-30);
                border: $space-xxxs solid var(--primary-color-70);
            }

            .radio-button:after {
                opacity: 1;
                transform: scale(0.8);
                transition-duration: $motion-duration-extra-fast;
                transition-property: opacity;
                transition-property: transform;
                transition-timing-function: $motion-easing-easeinout;
            }
        }

        &:not(.disabled):not([disabled]):hover + label {
            .radio-button {
                background-color: var(--accent-color-20);
                border: $space-xxxs solid var(--primary-color-70);
            }
        }

        &:not(.disabled):not([disabled]):active + label {
            .radio-button {
                transform: scale(0.98);
                background-color: var(--accent-color-10);
                border: $space-xxxs solid var(--primary-color-70);
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-weight: $text-font-weight-regular;
    }

    .selector-label {
        font-size: $text-font-size-2;

        &-end {
            margin-left: $space-xs;
        }

        &-start {
            margin-right: $space-xs;
        }
    }

    &-large {
        input {
            & + label {
                .radio-button {
                    min-height: $radio-large-height;
                    height: $radio-large-height;
                    min-width: $radio-large-width;
                    width: $radio-large-width;

                    &:after {
                        top: $radio-large-after-top;
                        left: $radio-large-after-left;
                        width: $radio-large-after-width;
                        height: $radio-large-after-height;
                    }
                }
            }
        }

        input:checked {
            & + label {
                .radio-button:after {
                    transform: scale(0.8);
                }
            }
        }

        .selector-label {
            font-size: $text-font-size-3;

            &-end {
                margin-left: $space-m;
            }

            &-start {
                margin-right: $space-m;
            }
        }
    }

    &-medium {
        input {
            & + label {
                .radio-button {
                    min-height: $radio-medium-height;
                    height: $radio-medium-height;
                    min-width: $radio-medium-width;
                    width: $radio-medium-width;

                    &:after {
                        top: $radio-medium-after-top;
                        left: $radio-medium-after-left;
                        width: $radio-medium-after-width;
                        height: $radio-medium-after-height;
                    }
                }
            }
        }

        input:checked {
            & + label {
                .radio-button:after {
                    transform: scale(0.8);
                }
            }
        }

        .selector-label {
            font-size: $text-font-size-2;

            &-end {
                margin-left: $space-xs;
            }

            &-start {
                margin-right: $space-xs;
            }
        }
    }

    &-small {
        input {
            & + label {
                .radio-button {
                    min-height: $radio-small-height;
                    height: $radio-small-height;
                    min-width: $radio-small-width;
                    width: $radio-small-width;

                    &:after {
                        top: $radio-small-after-top;
                        left: $radio-small-after-left;
                        width: $radio-small-after-width;
                        height: $radio-small-after-height;
                    }
                }
            }
        }

        input:checked {
            & + label {
                .radio-button:after {
                    transform: scale(0.8);
                }
            }
        }

        .selector-label {
            font-size: $text-font-size-1;

            &-end {
                margin-left: $space-xxs;
            }

            &-start {
                margin-right: $space-xxs;
            }
        }
    }

    &.disabled {
        input {
            cursor: not-allowed;
            & + label {
                opacity: $disabled-alpha-value;
            }
        }

        input:checked {
            cursor: not-allowed;
        }
    }

    &-rtl {
        .selector-label {
            &-end {
                margin-left: 0;
                margin-right: $space-xs;
            }

            &-start {
                margin-left: $space-xs;
                margin-right: 0;
            }
        }

        &-large {
            .selector-label {
                &-end {
                    margin-left: 0;
                    margin-right: $space-m;
                }

                &-start {
                    margin-left: $space-m;
                    margin-right: 0;
                }
            }
        }

        &-medium {
            .selector-label {
                &-end {
                    margin-left: 0;
                    margin-right: $space-xs;
                }

                &-start {
                    margin-left: $space-xs;
                    margin-right: 0;
                }
            }
        }

        &-small {
            .selector-label {
                &-end {
                    margin-left: 0;
                    margin-right: $space-xxs;
                }

                &-start {
                    margin-left: $space-xxs;
                    margin-right: 0;
                }
            }
        }
    }
}

:global(.focus-visible) {
    input[type='radio'] {
        &:checked {
            &:focus-visible + label {
                .radio-button {
                    outline: $space-xxxs solid var(--primary-color-50);
                }
            }
        }

        &:focus-visible + label {
            .radio-button {
                outline: $space-xxxs solid var(--primary-color-50);
                border: $space-xxxs solid var(--primary-color-70);
            }
        }

        &[disabled] {
            &:checked {
                &:focus-visible + label {
                    .radio-button {
                        outline: none;
                    }
                }
            }

            &:focus-visible + label {
                .radio-button {
                    outline: none;
                    border: $space-xxxs solid var(--grey-color-70);
                }
            }
        }
    }

    .selector {
        &.disabled {
            input {
                &:checked {
                    &:focus-visible + label {
                        .radio-button {
                            outline: none;
                        }
                    }
                }

                &:focus-visible + label {
                    .radio-button {
                        outline: none;
                        border: $space-xxxs solid var(--grey-color-70);
                    }
                }
            }
        }
    }
}

.radio-group {
    display: flex;
    gap: $space-s;

    &.vertical {
        flex-direction: column;
    }

    &.horizontal {
        flex-direction: row;
    }

    &-large {
        gap: $space-m;
    }

    &-medium {
        gap: $space-s;
    }

    &-small {
        gap: $space-xs;
    }
}

.label-no-value {
    margin-bottom: $label-no-value-margin-bottom;
}
