.selector {
    display: flex;
    position: relative;
    width: fit-content;

    input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 1;

        &[disabled] {
            cursor: default;

            & + label {
                .radio-button {
                    opacity: 50%;
                }
            }

            &:hover + label {
                .radio-button {
                    border: $space-xxxs solid var(--grey-color-70);
                }
            }

            &:active + label {
                .radio-button {
                    border: $space-xxxs solid var(--grey-color-70);
                }
            }
        }

        & + label {
            .radio-button {
                position: relative;
                height: $radio-height;
                width: $radio-width;
                border-radius: 50%;
                border: $space-xxxs solid var(--grey-color-70);
                transition: all $motion-duration-extra-fast $motion-ease-in-back
                    $motion-delay-s;

                &:after {
                    top: $radio-after-top;
                    left: $radio-after-left;
                    width: $radio-after-width;
                    height: $radio-after-height;
                    border-radius: 50%;
                    border: solid 2px var(--primary-color);
                    content: '';
                    position: absolute;
                    transform: scale(0);
                    opacity: 0;
                    display: block;
                    transition: all $motion-duration-extra-fast
                        $motion-ease-in-back $motion-delay-s;
                }
            }
        }

        &:hover + label {
            .radio-button {
                background-color: var(--accent-color-20);
                border: $space-xxxs solid var(--primary-color);
            }
        }

        &:active + label {
            .radio-button {
                background-color: var(--accent-color-30);
                border: $space-xxxs solid var(--primary-color);
            }
        }
    }

    input:checked {
        &[disabled] {
            cursor: default;
        }

        & + label {
            transition: all $motion-duration-extra-fast $motion-ease-out-back
                $motion-delay-s;

            .radio-button {
                background-color: var(--accent-color-30);
                border: $space-xxxs solid var(--primary-color);
            }

            .radio-button:after {
                opacity: 1;
                transform: scale(1);
                transition: all $motion-duration-extra-fast
                    $motion-ease-out-back $motion-delay-s;
            }
        }

        &:hover + label {
            .radio-button {
                background-color: var(--accent-color-20);
                border: $space-xxxs solid var(--primary-color);
            }
        }

        &:active + label {
            .radio-button {
                transform: scale(0.98);
                background-color: var(--accent-color-10);
                border: $space-xxxs solid var(--primary-color);
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-weight: $text-font-weight-regular;
    }

    .selector-label {
        margin-left: $space-xs;
        font-size: $text-font-weight-regular;
    }
}

:global(.focus-visible) {
    input[type='radio'] {
        &:checked {
            &:focus-visible + label {
                .radio-button {
                    outline: $space-xxxs solid var(--primary-color-50);
                }
            }
        }

        &:focus-visible + label {
            .radio-button {
                outline: $space-xxxs solid var(--primary-color-50);
                border: $space-xxxs solid var(--primary-color);
            }
        }

        &[disabled] {
            &:checked {
                &:focus-visible + label {
                    .radio-button {
                        outline: none;
                    }
                }
            }

            &:focus-visible + label {
                .radio-button {
                    outline: none;
                    border: $space-xxxs solid var(--grey-color-70);
                }
            }
        }
    }
}

.radio-group {
    display: flex;
    gap: $space-m;

    &.vertical {
        flex-direction: column;
    }

    &.horizontal {
        flex-direction: row;
    }
}

.label-no-value {
    margin-bottom: $label-no-value-margin-bottom;
}
