@import './mixins';

.table-wrapper {
  clear: both;
  max-width: 100%;
  @include clearfix();

  .table {
    @include reset-component();
    position: relative;
    font-family: var(--font-stack-full);
    font-size: $table-font-size;
    background: var(--table-background-color);

    table {
      width: 100%;
      text-align: left;
      border-collapse: separate;
      border-spacing: 0;
    }

    &-thead tr {
      &:first-of-type {
        th {
          font-size: $table-header-font-size;
        }
      }
    }

    &-thead tr th,
    &-tbody tr td,
    tfoot tr th,
    tfoot tr td {
      position: relative;
      padding: $table-padding-vertical $table-padding-horizontal;
      overflow-wrap: break-word;
    }

    &-cell-ellipsis {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: keep-all;

      &.table-cell-fix-left-last,
      &.table-cell-fix-right-first {
        overflow: visible;

        .table-cell-content {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .table-column-title {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
      }
    }

    &-title {
      background: var(--table-header-background-color);
      color: var(--table-header-foreground-color);
      font-size: $text-font-size-5;
      line-height: $text-line-height-4;
      padding: $table-padding-vertical $table-padding-horizontal;
    }

    &-footer {
      background: var(--table-footer-background-color);
      color: var(--table-footer-foreground-color);
      padding: $table-padding-vertical $table-padding-horizontal;
    }

    &-thead {
      tr {
        th {
          position: relative;
          color: var(--table-header-foreground-color);
          font-weight: 500;
          text-align: left;
          background: var(--table-header-background-color);
          transition: background $motion-duration-extra-fast ease;

          &[colspan]:not([colspan='1']) {
            text-align: center;
          }

          &:not(:last-child):not(.table-selection-column):not(.table-row-expand-icon-cell):not([colspan]):before {
            position: absolute;
            top: 50%;
            right: 0;
            width: 1px;
            height: 1.6em;
            background-color: var(--table-header-cell-split-color);
            transform: translateY(-50%);
            transition: background-color $motion-duration-extra-fast;
            content: '';
          }
        }
      }

      tr:not(:last-child) > th {
        &[colspan] {
          border-bottom: 0;
        }
      }
    }

    &-tbody {
      tr {
        td {
          transition: background $motion-duration-extra-fast;

          .table-wrapper:only-child,
          .table-expanded-row-fixed > .table-wrapper:only-child {
            .table {
              margin: -$table-padding-vertical -$table-padding-horizontal -$table-padding-vertical
                calc($table-padding-horizontal + ceil(14px * 1.4));

              &-tbody > tr:last-child > td {
                border-bottom: 0;

                &:first-child,
                &:last-child {
                  border-radius: 0;
                }
              }
            }
          }
        }

        &.table-row-selected {
          td {
            background: var(--table-row-selected-background-color);
            border-color: rgba(0, 0, 0, 0.03);
          }
        }
      }
    }

    &-summary {
      box-shadow: 0 -1px var(--table-border-color);
      position: relative;
      z-index: 2;

      div {
        box-shadow: 0 -var(--table-border-width) 0 var(--table-border-color);
      }

      tr {
        th,
        td {
          border-bottom: var(--table-border);
        }
      }
    }

    &-pagination {
      display: flex;
      flex-wrap: wrap;
      margin: $space-m 0;
      row-gap: $space-xs;

      * {
        flex: none;
      }

      &-left {
        justify-content: flex-start;
      }

      &-center {
        justify-content: center;
      }

      &-right {
        justify-content: flex-end;
      }
    }

    &-thead th.table-column-has-sorters {
      outline: none;
      cursor: pointer;
      transition: all $motion-duration-extra-fast;

      &:hover {
        background: var(--table-header-sort-active-background-color);

        &:before {
          background-color: transparent !important;
        }
      }

      &:focus-visible {
        color: var(--primary-color);
      }

      &.table-cell-fix-left:hover,
      &.table-cell-fix-right:hover {
        background: var(--table-header-sort-active-background-color);
      }
    }

    &-thead th.table-column-sort {
      background: var(--table-header-sort-background-color);

      &:before {
        background-color: transparent !important;
      }
    }

    &-column-title {
      position: relative;
      z-index: 1;
      flex: 1;
    }

    &-column-sorters {
      align-items: center;
      display: inline-flex;
      justify-content: space-between;

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
      }
    }

    &-column-sorter {
      margin-left: $space-xxs;
      color: var(--table-header-icon-color);
      height: $space-m;
      overflow: visible;
      transition: color $motion-duration-extra-fast;

      &-inner {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
      }

      &-screen-reader-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }
    }

    &-column-sorter-up,
    &-column-sorter-down {
      font-size: $text-font-size-2;
    }

    &-column-has-sorters {
      cursor: pointer;

      &:hover {
        color: var(--table-header-icon-hover-color);

        .table-column-sorter {
          color: var(--table-header-icon-hover-color);
        }
      }
    }

    &-filter-column {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &-filter-trigger {
      position: relative;
      display: flex;
      align-items: center;
      margin: -4px calc(calc(#{$table-padding-horizontal} / 2) * -1) -4px 4px;
      padding: 0 4px;
      color: var(--table-header-icon-color);
      font-size: $table-font-size-sm;
      border-radius: $table-border-radius;
      cursor: pointer;
      transition: all $motion-duration-extra-fast;

      &:hover {
        color: var(--text-secondary-color);
        background: var(--table-header-filter-active-background-color);
      }

      &.active {
        color: var(--primary-color);
      }
    }

    &-selection-col {
      width: $table-selection-column-width;
    }

    &-bordered &-selection-col {
      width: $table-selection-column-width + 18px;
    }

    &-cell-bordered &-selection-col {
      width: $table-selection-column-width + 18px;
    }

    &-header-bordered &-selection-col {
      width: $table-selection-column-width + 18px;
    }

    &-inner-bordered &-selection-col {
      width: $table-selection-column-width + 18px;
    }

    &-outer-bordered &-selection-col {
      width: $table-selection-column-width + 18px;
    }

    &-row-bordered &-selection-col {
      width: $table-selection-column-width + 18px;
    }

    &-column-bordered &-selection-col {
      width: $table-selection-column-width + 18px;
    }

    table tr th,
    table tr td {
      &.table-selection-column {
        padding-right: $space-xs;
        padding-left: $space-xs;
        text-align: center;

        .table-radio-wrapper {
          margin-right: 0;
        }
      }
    }

    table tr th {
      &.table-selection-column.table-cell-fix-left {
        z-index: 3;
      }
    }

    table tr th {
      &.table-selection-column:after {
        background-color: transparent !important;
      }
    }

    .selection-checkbox,
    .selection-radiobutton {
      margin: 0 auto;
      label {
        span {
          margin-left: 0;

          // visually hides label span
          &:last-child {
            visibility: hidden;
            width: 0;
          }
        }
      }
    }

    &-empty {
      tbody {
        tr {
          text-align: center;

          &:nth-child(odd) {
            td {
              background-color: var(--table-background-color);
            }

            &:hover {
              td {
                background-color: var(--table-background-color);
              }
            }
          }
        }
      }
    }

    &-selection {
      position: relative;
      display: inline-flex;
      flex-direction: column;

      &-extra {
        position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        transition: all $motion-duration-extra-fast;
        margin-inline-start: 100%;
        padding-inline-start: calc(#{$table-padding-horizontal} / 4);

        .icon {
          color: var(--table-header-icon-color);
          font-size: 10px;

          &:hover {
            color: var(--table-header-icon-hover-color);
          }
        }
      }
    }

    &-expand-icon-col {
      width: 84px;
    }

    &-row-expand-icon-cell {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &-row-indent {
      float: left;
      height: 1px;
    }

    &-row-expand-icon {
      position: relative;
      display: inline-flex;
      float: left;
      margin: 0 $space-m;

      &-visually-hidden {
        opacity: 0;
        visibility: hidden;
      }

      .table-row-indent + & {
        margin-right: $space-s;
      }
    }

    tr {
      &.table-expanded-row {
        &,
        &:hover {
          td {
            background: var(--table-row-expanded-background-color);
          }
        }

        .table-descriptions-view {
          display: flex;

          table {
            flex: auto;
            width: auto;
          }
        }
      }

      &:last-of-type {
        td {
          &:first-of-type {
            border-bottom-left-radius: $table-border-radius;
          }
          &:last-of-type {
            border-bottom-right-radius: $table-border-radius;
          }
        }
      }
    }

    .table-expanded-row-fixed {
      position: relative;
      margin: -$table-padding-vertical -$table-padding-horizontal;
      padding: $table-padding-vertical $table-padding-horizontal;
    }

    &-tbody tr {
      &.table-placeholder {
        text-align: center;

        &:nth-child(odd) td {
          background-color: var(--table-background-color);
        }
        .table-empty & {
          opacity: $disabled-alpha-value;
        }
      }
    }

    &-cell-fix-left,
    &-cell-fix-right {
      position: sticky !important;
      z-index: 2;
      background: var(--table-background-color);
    }

    &-cell-fix-left-first:after,
    &-cell-fix-left-last:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -1px;
      width: 30px;
      transform: translateX(100%);
      transition: box-shadow $motion-duration-extra-fast;
      content: '';
      pointer-events: none;
    }

    &-cell-fix-right-first:after,
    &-cell-fix-right-last:after {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 0;
      width: 30px;
      transform: translateX(-100%);
      transition: box-shadow $motion-duration-extra-fast;
      content: '';
      pointer-events: none;
    }

    .table-container {
      &:before,
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 30px;
        transition: box-shadow $motion-duration-extra-fast;
        content: '';
        pointer-events: none;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    &-ping-left {
      &:not(.table-has-fix-left) .table-container {
        position: relative;

        &:before {
          box-shadow: inset 32px 0 8px -32px rgba(15, 20, 31, 0.08);
        }
      }

      .table-cell-fix-left-first:after,
      .table-cell-fix-left-last:after {
        box-shadow: inset 32px 0 8px -32px rgba(15, 20, 31, 0.08);
      }

      .table-cell-fix-left-last:before {
        background-color: transparent !important;
      }
    }

    &-ping-right {
      &:not(.table-has-fix-right) .table-container {
        position: relative;

        &:after {
          box-shadow: inset -32px 0 8px -32px rgba(15, 20, 31, 0.08);
        }
      }

      .table-cell-fix-right-first:after,
      .table-cell-fix-right-last:after {
        box-shadow: inset -32px 0 8px -32px rgba(15, 20, 31, 0.08);
      }
    }

    // TODO: Determine if the internal sticky scroller component is needed anymore.
    &-sticky {
      &-holder {
        position: sticky;
        z-index: 3;
      }

      &-scroll {
        position: sticky;
        bottom: 0;
        z-index: 3;
        display: flex;
        align-items: center;
        border-top: none;
        opacity: 0;
        &-bar {
          height: 4px;
          background-color: $table-sticky-scroll-bar-background-color;
          border-radius: $table-sticky-scroll-bar-radius;

          &:hover {
            background-color: $table-sticky-scroll-bar-active-background-color;
          }

          &-active {
            background-color: $table-sticky-scroll-bar-active-background-color;
          }
        }
      }
    }

    &-row-hover {
      .table-tbody {
        tr {
          &.table-row:hover td,
          td.table-cell-row-hover {
            background: var(--table-row-hover-background-color);
          }

          &.table-row-selected {
            &:hover {
              td {
                background: var(--table-row-selected-hover-background-color);
              }
            }
          }
        }
      }
    }
  }
}

.table-spinner {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
}

.table-filter-dropdown {
  &-tree {
    padding: 8px 8px 0;

    .tree-treenode .tree-node-content-wrapper:hover {
      background-color: $tree-node-hover-bg;
    }

    .tree-treenode-checkbox-checked .tree-node-content-wrapper {
      &,
      &:hover {
        background-color: $tree-node-selected-bg;
      }
    }
  }

  &-search {
    padding: 8px;
    border-bottom: var(--table-border);

    &-input {
      input {
        min-width: 140px;
      }
      .icon {
        opacity: $disabled-alpha-value;
      }
    }
  }

  &-checkall {
    width: 100%;
    margin-bottom: 4px;
    margin-left: 4px;
  }

  &-submenu > ul {
    max-height: calc(100vh - 130px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &,
  &-submenu {
    .checkbox-wrapper + span {
      padding-left: 8px;
    }
  }

  &-btns {
    display: flex;
    justify-content: space-between;
    padding: 7px 8px;
    overflow: hidden;
    background-color: var(--table-header-filter-buttons-background-color);
    border-top: var(--table-border);
  }
}

@media all and (-ms-high-contrast: none) {
  .table-wrapper {
    .table {
      &-ping-left {
        .table-cell-fix-left-last:after {
          box-shadow: none !important;
        }
      }

      &-ping-right {
        .table-cell-fix-right-first:after {
          box-shadow: none !important;
        }
      }
    }
  }
}

@import './size';
@import './bordered';
@import './rtl';
