@import './mixins';

.table-wrapper {
    --table-background-color: var(--background-color);
    --table-foreground-color: var(--text-primary-color);
    --table-background-alternate-color: var(--grey-color-10);
    --table-border-color: var(--grey-color-20);
    --table-border-active-color: transparent;
    --table-header-background-color: var(--background-color);
    --table-header-foreground-color: var(--text-primary-color);
    --table-header-icon-color: var(--grey-color-40);
    --table-header-icon-hover-color: var(--primary-color-80);
    --table-header-cell-split-color: var(--grey-color-20);
    --table-body-sort-background-color: var(--background-color);
    --table-header-sort-background-color: var(--background-color);
    --table-header-sort-active-background-color: var(--grey-color-10);
    --table-header-filter-background-color: var(--background-color);
    --table-header-filter-active-background-color: var(--grey-color-10);
    --table-header-filter-dropdown-background-color: var(--background-color);
    --table-header-filter-buttons-background-color: var(--background-color);
    --table-expand-icon-background-color: var(--background-color);
    --table-row-hover-background-color: var(--accent-color-10);
    --table-row-selected-background-color: var(--grey-color-10);
    --table-row-selected-hover-background-color: var(--accent-color-10);
    --table-row-selected-foregroud-color: var(--text-primary-color);
    --table-row-expanded-background-color: var(--grey-color-10);
    --table-body-selected-sort-background-color: var(--grey-color-10);
    --table-footer-background-color: var(--background-color);
    --table-footer-foreground-color: var(--text-primary-color);

    --table-border-radius: 24px;
    --table-border-style: solid;
    --table-border-width: 1px;
    --table-padding-vertical: 8px;
    --table-padding-horizontal: 16px;
    --table-padding-vertical-md: 12px;
    --table-padding-horizontal-md: 8px;
    --table-padding-vertical-sm: 8px;
    --table-padding-horizontal-sm: 8px;
    --table-box-shadow: 0 1px 2px rgba(15, 20, 31, 0.08),
        0 2px 8px rgba(15, 20, 31, 0.08);
    --table-fixed-left-box-shadow: inset 32px 0 8px -32px rgba(15, 20, 31, 0.08);
    --table-fixed-right-box-shadow: inset -32px 0 8px -32px
        rgba(15, 20, 31, 0.08);
    --table-header-font-size: 14px;
    --table-header-line-height: 24px;
    --table-footer-font-size: 16px;
    --table-footer-line-height: 24px;
    --table-font-size: 14px;
    --table-font-size-md: 14px;
    --table-font-size-sm: 14px;
    --table-line-height: 20px;
    --table-selection-column-width: 80px;

    clear: both;
    max-width: 100%;
    @include clearfix();

    .table {
        @include reset-component();
        position: relative;
        font-family: $octuple-font-family;
        font-size: $table-font-size;
        background: $table-background-color;
        overflow: hidden;

        table {
            width: 100%;
            text-align: left;
            border-collapse: separate;
            border-spacing: 0;
        }

        &-thead tr {
            &:first-of-type {
                th {
                    font-size: $table-header-font-size;
                }
            }
        }

        &-thead tr th,
        &-tbody tr td,
        tfoot tr th,
        tfoot tr td {
            position: relative;
            padding: $table-padding-vertical $table-padding-horizontal;
            overflow-wrap: break-word;
        }

        &-cell-ellipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: keep-all;

            &.table-cell-fix-left-last,
            &.table-cell-fix-right-first {
                overflow: visible;

                .table-cell-content {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .table-column-title {
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: keep-all;
            }
        }

        &-title {
            background: $table-header-background-color;
            color: $table-header-foreground-color;
            font-size: $text-font-size-5;
            line-height: $text-line-height-4;
            padding: $table-padding-vertical $table-padding-horizontal;
        }

        &-footer {
            background: $table-footer-background-color;
            color: $table-footer-foreground-color;
            padding: $table-padding-vertical $table-padding-horizontal;
        }

        &-thead {
            tr {
                th {
                    position: relative;
                    color: $table-header-foreground-color;
                    font-weight: 500;
                    text-align: left;
                    background: $table-header-background-color;
                    transition: background 0.3s ease;

                    &[colspan]:not([colspan='1']) {
                        text-align: center;
                    }

                    &:not(:last-child):not(.table-selection-column):not(.table-row-expand-icon-cell):not([colspan]):before {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 1px;
                        height: 1.6em;
                        background-color: $table-header-cell-split-color;
                        transform: translateY(-50%);
                        transition: background-color 0.3s;
                        content: '';
                    }
                }
            }

            tr:not(:last-child) > th {
                &[colspan] {
                    border-bottom: 0;
                }
            }
        }

        &-tbody {
            tr {
                td {
                    transition: background 0.3s;

                    .table-wrapper:only-child,
                    .table-expanded-row-fixed > .table-wrapper:only-child {
                        .table {
                            margin: -$table-padding-vertical -$table-padding-horizontal -$table-padding-vertical
                                ($table-padding-horizontal + ceil(14px * 1.4));

                            &-tbody > tr:last-child > td {
                                border-bottom: 0;

                                &:first-child,
                                &:last-child {
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }

                &.table-row:hover td,
                td.table-cell-row-hover {
                    background: $table-row-hover-background-color;
                }

                &.table-row-selected {
                    td {
                        background: $table-row-selected-background-color;
                        border-color: rgba(0, 0, 0, 0.03);
                    }

                    &:hover {
                        td {
                            background: $table-row-selected-hover-background-color;
                        }
                    }
                }
            }
        }

        &-summary {
            box-shadow: 0 -1px $table-border-color;
            position: relative;
            z-index: 2;

            div {
                box-shadow: 0 -$table-border-width 0 $table-border-color;
            }

            tr {
                th,
                td {
                    border-bottom: $table-border-width $table-border-style
                        $table-border-color;
                }
            }
        }

        &-pagination {
            display: flex;
            flex-wrap: wrap;
            margin: 16px 0;
            row-gap: $space-xs;

            * {
                flex: none;
            }

            &-left {
                justify-content: flex-start;
            }

            &-center {
                justify-content: center;
            }

            &-right {
                justify-content: flex-end;
            }
        }

        &-thead th.table-column-has-sorters {
            outline: none;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background: $table-header-sort-active-background-color;

                &:before {
                    background-color: transparent !important;
                }
            }

            &:focus-visible {
                color: var(--primary-color);
            }

            &.table-cell-fix-left:hover,
            &.table-cell-fix-right:hover {
                background: $table-fixed-header-sort-active-background-color;
            }
        }

        &-thead th.table-column-sort {
            background: $table-header-sort-background-color;

            &:before {
                background-color: transparent !important;
            }
        }

        &-column-title {
            position: relative;
            z-index: 1;
            flex: 1;
        }

        &-column-sorters {
            display: flex;
            flex: auto;
            align-items: center;
            justify-content: space-between;

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
            }
        }

        &-column-sorter {
            margin-left: $space-xxs;
            color: $table-header-icon-color;
            font-size: 0;
            transition: color 0.3s;

            &-inner {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
            }

            &-up,
            &-down {
                font-size: 14px;

                &.active {
                    color: var(--grey-color-90);
                }
            }

            &-up + &-down {
                margin-top: -0.3em;
            }
        }

        &-column-sorters:hover &-column-sorter {
            color: $table-header-icon-hover-color;
        }

        &-filter-column {
            display: flex;
            justify-content: space-between;
        }

        &-filter-trigger {
            position: relative;
            display: flex;
            align-items: center;
            margin: -4px calc(-#{$table-padding-horizontal} / 2) -4px 4px;
            padding: 0 4px;
            color: $table-header-icon-color;
            font-size: $table-font-size-sm;
            border-radius: $table-border-radius;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                color: $text-color-secondary;
                background: $table-header-filter-active-background-color;
            }

            &.active {
                color: var(--primary-color);
            }
        }

        &-selection-col {
            width: $table-selection-column-width;
        }

        &-bordered &-selection-col {
            width: $table-selection-column-width + 18px;
        }

        &-cell-bordered &-selection-col {
            width: $table-selection-column-width + 18px;
        }

        &-header-bordered &-selection-col {
            width: $table-selection-column-width + 18px;
        }

        &-inner-bordered &-selection-col {
            width: $table-selection-column-width + 18px;
        }

        &-outer-bordered &-selection-col {
            width: $table-selection-column-width + 18px;
        }

        &-row-bordered &-selection-col {
            width: $table-selection-column-width + 18px;
        }

        table tr th,
        table tr td {
            &.table-selection-column {
                padding-right: $space-xs;
                padding-left: $space-xs;
                text-align: center;

                .table-radio-wrapper {
                    margin-right: 0;
                }
            }
        }

        table tr th {
            &.table-selection-column.table-cell-fix-left {
                z-index: 3;
            }
        }

        table tr th {
            &.table-selection-column:after {
                background-color: transparent !important;
            }
        }

        .selection-checkbox,
        .selection-radiobutton {
            margin: 0 16px;
            label {
                span {
                    margin-left: 0;
                }
            }
        }

        &-alternate {
            tbody {
                tr {
                    &:nth-child(odd) {
                        td {
                            background-color: $table-background-alternate-color;
                        }

                        &:hover {
                            td {
                                background-color: $table-row-hover-background-color;
                            }
                        }
                    }
                }
            }
        }

        &-selection {
            position: relative;
            display: inline-flex;
            flex-direction: column;

            &-extra {
                position: absolute;
                top: 0;
                z-index: 1;
                cursor: pointer;
                transition: all 0.3s;
                margin-inline-start: 100%;
                padding-inline-start: calc(#{$table-padding-horizontal} / 4);

                .icon {
                    color: $table-header-icon-color;
                    font-size: 10px;

                    &:hover {
                        color: $table-header-icon-hover-color;
                    }
                }
            }
        }

        &-expand-icon-col {
            width: 84px;
        }

        &-row-expand-icon-cell {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        &-row-indent {
            float: left;
            height: 1px;
        }

        &-row-expand-icon {
            @include operation-unit();

            position: relative;
            display: inline-flex;
            float: left;
            box-sizing: border-box;
            width: 18px;
            height: 18px;
            padding: 0;
            margin: 2px 16px 0 16px;
            color: inherit;
            line-height: 18px;
            background: $table-expand-icon-background-color;
            border: 2px $table-border-style var(--grey-color-70);
            border-radius: 4px;
            outline: none;
            transform: scale(unit(22) / unit(18));
            transition: all 0.3s;
            user-select: none;

            &:focus,
            &:hover,
            &:active {
                border-color: $table-header-icon-color;
            }

            &:before,
            &:after {
                position: absolute;
                background: currentcolor;
                transition: transform 0.3s ease-out;
                content: '';
            }

            &:before {
                top: 6px;
                right: 3px;
                left: 3px;
                height: 2px;
            }

            &:after {
                top: 3px;
                bottom: 3px;
                left: 6px;
                width: 2px;
                transform: rotate(90deg);
            }

            &-collapsed:before {
                transform: rotate(-180deg);
            }

            &-collapsed:after {
                transform: rotate(0deg);
            }

            &-spaced {
                &:before,
                &:after {
                    display: none;
                    content: none;
                }
                background: transparent;
                border: 0;
                visibility: hidden;
            }

            .table-row-indent + & {
                margin-top: calc((14 * 20 - 2 * 3) / 2) -
                    ceil(calc((14 * 1.4 - 2 * 3) / 2));
                margin-right: $space-s;
            }

            // Hides the browser default keyboard focus-visible styles.
            // Use the ConfigProvider instead.
            &:focus-visible {
                outline: none;
            }
        }

        tr {
            &.table-expanded-row {
                &,
                &:hover {
                    td {
                        background: $table-row-expanded-background-color;
                    }
                }

                .table-descriptions-view {
                    display: flex;

                    table {
                        flex: auto;
                        width: auto;
                    }
                }
            }

            &:last-of-type {
                td {
                    &:first-of-type {
                        border-bottom-left-radius: $table-border-radius;
                    }
                    &:last-of-type {
                        border-bottom-right-radius: $table-border-radius;
                    }
                }
            }
        }

        .table-expanded-row-fixed {
            position: relative;
            margin: -$table-padding-vertical -$table-padding-horizontal;
            padding: $table-padding-vertical $table-padding-horizontal;
        }

        &-tbody tr {
            &.table-placeholder {
                text-align: center;

                &:nth-child(odd) td {
                    background-color: $table-background-color;
                }
                .table-empty & {
                    opacity: $disabled-alpha-value;
                }
            }
        }

        &-cell-fix-left,
        &-cell-fix-right {
            position: sticky !important;
            z-index: 2;
            background: $table-background-color;
        }

        &-cell-fix-left-first:after,
        &-cell-fix-left-last:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: -1px;
            width: 30px;
            transform: translateX(100%);
            transition: box-shadow 0.3s;
            content: '';
            pointer-events: none;
        }

        &-cell-fix-right-first:after,
        &-cell-fix-right-last:after {
            position: absolute;
            top: 0;
            bottom: -1px;
            left: 0;
            width: 30px;
            transform: translateX(-100%);
            transition: box-shadow 0.3s;
            content: '';
            pointer-events: none;
        }

        .table-container {
            &:before,
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                width: 30px;
                transition: box-shadow 0.3s;
                content: '';
                pointer-events: none;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }

        &-ping-left {
            &:not(.table-has-fix-left) .table-container {
                position: relative;

                &:before {
                    box-shadow: inset 32px 0 8px -32px rgba(15, 20, 31, 0.08);
                }
            }

            .table-cell-fix-left-first:after,
            .table-cell-fix-left-last:after {
                box-shadow: inset 32px 0 8px -32px rgba(15, 20, 31, 0.08);
            }

            .table-cell-fix-left-last:before {
                background-color: transparent !important;
            }
        }

        &-ping-right {
            &:not(.table-has-fix-right) .table-container {
                position: relative;

                &:after {
                    box-shadow: inset -32px 0 8px -32px rgba(15, 20, 31, 0.08);
                }
            }

            .table-cell-fix-right-first:after,
            .table-cell-fix-right-last:after {
                box-shadow: inset -32px 0 8px -32px rgba(15, 20, 31, 0.08);
            }
        }

        // TODO: Determine if the internal sticky scroller component is needed anymore.
        &-sticky {
            &-holder {
                position: sticky;
                z-index: 3;
            }

            &-scroll {
                position: sticky;
                bottom: 0;
                z-index: 3;
                display: flex;
                align-items: center;
                border-top: none;
                opacity: 0;
                &-bar {
                    height: 4px;
                    background-color: $table-sticky-scroll-bar-background-color;
                    border-radius: $table-sticky-scroll-bar-radius;

                    &:hover {
                        background-color: $table-sticky-scroll-bar-active-background-color;
                    }

                    &-active {
                        background-color: $table-sticky-scroll-bar-active-background-color;
                    }
                }
            }
        }
    }
}

.table-filter-dropdown {
    &-tree {
        padding: 8px 8px 0;

        .tree-treenode .tree-node-content-wrapper:hover {
            background-color: $tree-node-hover-bg;
        }

        .tree-treenode-checkbox-checked .tree-node-content-wrapper {
            &,
            &:hover {
                background-color: $tree-node-selected-bg;
            }
        }
    }

    &-search {
        padding: 8px;
        border-bottom: $table-border-width $table-border-color
            $table-border-style;

        &-input {
            input {
                min-width: 140px;
            }
            .icon {
                opacity: $disabled-alpha-value;
            }
        }
    }

    &-checkall {
        width: 100%;
        margin-bottom: 4px;
        margin-left: 4px;
    }

    &-submenu > ul {
        max-height: calc(100vh - 130px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    &,
    &-submenu {
        .checkbox-wrapper + span {
            padding-left: 8px;
        }
    }

    &-btns {
        display: flex;
        justify-content: space-between;
        padding: 7px 8px;
        overflow: hidden;
        background-color: $table-header-filter-buttons-background-color;
        border-top: $table-border-width $table-border-style $table-border-color;
    }
}

:global(.focus-visible) {
    .table-wrapper {
        .table {
            &-row-expand-icon {
                &.focus-visible,
                &:focus-visible {
                    box-shadow: $focus-visible-box-shadow;
                }
            }
        }
    }
}

@media all and (-ms-high-contrast: none) {
    .table-wrapper {
        .table {
            &-ping-left {
                .table-cell-fix-left-last:after {
                    box-shadow: none !important;
                }
            }

            &-ping-right {
                .table-cell-fix-right-first:after {
                    box-shadow: none !important;
                }
            }
        }
    }
}

@import './size';
@import './bordered';
@import './rtl';
