.tag-pills {
    --bg: var(--blue-color-20);
    --label: var(--blue-color);
    --hover-bg: var(--blue-color-30);
    --hover-label: var(--text-primary-color);
    padding: $space-xxs $space-s;
    border-radius: $corner-radius-l;
    transition: all $motion-duration-extra-fast $motion-easing-easeinout 0s;
    background: var(--bg);
    color: var(--label);
    width: fit-content;
    display: flex;
    align-items: center;

    .label {
        margin-bottom: 1px;
        margin-top: -1px;
        font-weight: $text-font-weight-semibold;
        font-size: $text-font-size-5;

        &.medium {
            font-size: $text-font-size-3;
        }

        &.small {
            font-size: $text-font-size-2;
        }
    }

    &.red {
        --bg: var(--red-color-20);
        --label: var(--red-color);
        --hover-bg: var(--red-color-30);
    }

    &.orange {
        --bg: var(--orange-color-20);
        --label: var(--orange-color);
        --hover-bg: var(--orange-color-30);
    }

    &.yellow {
        --bg: var(--yellow-color-20);
        --label: var(--yellow-color);
        --hover-bg: var(--yellow-color-30);
    }

    &.green {
        --bg: var(--green-color-20);
        --label: var(--green-color);
        --hover-bg: var(--green-color-30);
    }

    &.bluegreen {
        --bg: var(--bluegreen-color-20);
        --label: var(--bluegreen-color);
        --hover-bg: var(--bluegreen-color-30);
    }

    &.blue {
        --bg: var(--blue-color-20);
        --label: var(--blue-color);
    }

    &.violet {
        --bg: var(--violet-color-20);
        --label: var(--violet-color);
        --hover-bg: var(--violet-color-30);
    }

    &.grey {
        --bg: var(--grey-color-20);
        --label: var(--grey-color);
        --hover-bg: var(--grey-color-30);
    }

    &:hover {
        --bg: var(--hover-bg);
        --label: var(--hover-label);
    }

    .button,
    .close-button {
        border: none;
        border-radius: 0;
        background: inherit;
        color: inherit;
        padding: 0;
        margin: 0 0 0 $space-xxs;
        transition: none;

        &:hover {
            outline-color: transparent;
        }

        &:active {
            outline-color: transparent;
        }
    }

    .label + .button:not(:empty) {
        border-left: 1px solid var(--label);
        padding-left: $space-xxs;
    }

    .icon {
        margin-right: $space-xxs;
    }
}
