.tag-pills {
    --bg: var(--blue-color-20);
    --label: var(--blue-color);
    --hover-bg: var(--blue-color-30);
    --hover-label: var(--text-primary-color);
    padding: $space-xxs $space-s;
    border-radius: $corner-radius-m;
    transition: all $motion-duration-extra-fast $motion-easing-easeinout 0s;
    background: var(--bg);
    color: var(--label);
    width: fit-content;
    display: flex;
    align-items: center;

    .label {
        font-family: $octuple-font-family;
        font-size: $text-font-size-5;
        font-weight: $text-font-weight-semibold;

        &.medium {
            font-size: $text-font-size-3;
        }

        &.small,
        &.xsmall {
            font-size: $text-font-size-2;
        }
    }

    &.xsmall {
        background: none;
        border: none;
    }

    &.red {
        --bg: var(--red-color-20);
        --label: var(--red-color);
        --hover-bg: var(--red-color-30);
    }

    &.red-orange {
        --bg: var(--redorange-color-20);
        --label: var(--redorange-color);
        --hover-bg: var(--redorange-color-30);
    }

    &.orange {
        --bg: var(--orange-color-20);
        --label: var(--orange-color);
        --hover-bg: var(--orange-color-30);
    }

    &.yellow {
        --bg: var(--yellow-color-20);
        --label: var(--yellow-color);
        --hover-bg: var(--yellow-color-30);
    }

    &.yellow-green {
        --bg: var(--yellowgreen-color-20);
        --label: var(--yellowgreen-color);
        --hover-bg: var(--yellowgreen-color-30);
    }

    &.green {
        --bg: var(--green-color-20);
        --label: var(--green-color);
        --hover-bg: var(--green-color-30);
    }

    &.blue-green {
        --bg: var(--bluegreen-color-20);
        --label: var(--bluegreen-color);
        --hover-bg: var(--bluegreen-color-30);
    }

    &.blue {
        --bg: var(--blue-color-20);
        --label: var(--blue-color);
    }

    &.blue-violet {
        --bg: var(--blueviolet-color-20);
        --label: var(--blueviolet-color);
        --hover-bg: var(--blueviolet-color-30);
    }

    &.violet {
        --bg: var(--violet-color-20);
        --label: var(--violet-color);
        --hover-bg: var(--violet-color-30);
    }

    &.violet-red {
        --bg: var(--violetred-color-20);
        --label: var(--violetred-color);
        --hover-bg: var(--violetred-color-30);
    }

    &.grey {
        --bg: var(--grey-color-20);
        --label: var(--grey-color);
        --hover-bg: var(--grey-color-30);
    }

    &:hover:not(.tag-pills-disabled) {
        --bg: var(--hover-bg);
        --label: var(--hover-label);
    }

    .button,
    .close-button {
        border: none;
        border-radius: 0;
        background: inherit;
        color: inherit;
        height: inherit;
        padding: 0;
        margin: 0 0 0 $space-xxs;
        transition: none;

        &:hover {
            outline-color: transparent;
        }

        &:active {
            outline-color: transparent;
        }
    }

    .label + .button:not(:empty) {
        border-left: 1px solid var(--label);
        padding-left: $space-xxs;
    }

    .icon {
        margin-right: $space-xxs;
    }

    &-disabled {
        cursor: not-allowed;
        opacity: $disabled-alpha-value;
    }

    &-rtl {
        .button,
        .close-button {
            margin: 0 $space-xxs 0 0;
        }

        .label + .button:not(:empty) {
            border-left: unset;
            padding-left: unset;
            border-right: 1px solid var(--label);
            padding-right: $space-xxs;
        }

        .icon {
            margin-left: $space-xxs;
            margin-right: unset;
        }
    }
}
