@import './mixins';

.picker {
  &-status-error {
    input {
      @include placeholder(var(--disruptive-color));
    }

    border-color: var(--disruptive-color);
    color: var(--disruptive-color);
  }

  &-status-warning {
    input {
      @include placeholder(var(--warning-color));
    }

    border-color: var(--warning-color);
    color: var(--warning-color);
  }

  &-status-success {
    input {
      @include placeholder(var(--picker-input-foreground-color));
    }

    border-color: var(--border-color);
    color: var(--text-primary-color);
  }
}
