@import './mixins';

.picker {
  &-status-error {
    input {
      @include placeholder(var(--input-error-placeholder-color));
    }

    border-color: var(--input-error-border-color);
    color: var(--input-error-text-color);
  }

  &-status-warning {
    input {
      @include placeholder(var(--input-warning-placeholder-color));
    }

    border-color: var(--input-warning-border-color);
    color: var(--input-warning-text-color);
  }

  &-status-success {
    input {
      @include placeholder(var(--picker-input-foreground-color));
    }

    border-color: var(--input-success-border-color);
    color: var(--input-success-text-color);
  }
}
