.card {
    --bg-color: white;

    box-shadow: $shadow-object-m;
    background-color: var(--bg-color);
    border-radius: $corner-radius-xl;
    color: black;
    display: block;
    font-family: $octuple-font-family;
    gap: $space-m;
    padding: $space-ml;
    width: 360px;
    position: relative;

    &.carousel {
        border: 1px solid var(--grey-color-20);
    }

    .icon {
        color: inherit;
    }

    .message {
        flex: 1;
        display: flex;
        align-items: center;
        color: inherit;
    }

    .buttons-container {
        padding: $space-m;
    }

    &-large {
        height: 278px;
    }

    &-medium,
    &-small {
        height: 260px;
    }

    .header {
        @include octuple-h4();
        display: flex;
        flex-direction: row;
        margin-bottom: $space-ml;
        padding: 0;

        .mainHeader {
            display: flex;
            .icon {
                height: fit-content;
                padding-top: 10px;
            }

            .title {
                margin-left: 8px;
            }

            &-button {
                margin-right: $space-l;
                padding: 0;
                padding-bottom: 12px;
                background-color: white;
            }

            &-buttons {
                align-items: flex-end;
                align-self: start;
                height: fit-content;
                justify-content: right;
                white-space: nowrap;

                button {
                    margin-left: $space-xs;
                }
            }
        }

        .subHeader {
            opacity: 50%;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
        }

        .buttonIcon {
            position: absolute;
            right: 0;
            background-color: white;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
        line-height: normal;

        .list {
            margin-bottom: 20px;

            ul {
                flex-wrap: wrap;
                display: -webkit-inline-box;
            }
        }
    }

    .footer {
        padding-top: $space-xs;
        bottom: 25px;
        position: absolute;
        width: 320px;

        .container {
            display: flex;
            justify-content: space-between;

            .content {
                display: flex;
            }
        }
    }
}
