.navbar-container {
    align-items: center;
    background-color: var(--navbar-background);
    color: var(--navbar-text);
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding: 0 $space-l-fitted;
    width: 100%;

    .navbar-content {
        align-items: center;
        display: flex;
        flex-direction: row;
    }
}
