.navbar-container {
    align-items: center;
    background-color: var(--navbar-background);
    color: var(--navbar-text);
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001 !important;
}

.navbar-content {
    align-items: center;
    display: flex;
    flex-direction: row;
}
