.selector {
    display: flex;
    position: relative;
    width: fit-content;

    input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 1;

        &[disabled] {
            cursor: default;

            & + label {
                .checkmark {
                    opacity: 50%;

                    &.toggle {
                        opacity: 50%;
                    }
                }
            }

            &:hover + label {
                .checkmark {
                    border: $space-xxxs solid var(--grey-color-70);

                    &.toggle {
                        border: $space-xxxs solid var(--grey-color-70);

                        &:after {
                            background-color: var(--grey-color-70);
                            border-color: var(--grey-color-70);
                        }
                    }
                }
            }

            &:active + label {
                .checkmark {
                    border: $space-xxxs solid var(--grey-color-70);

                    &.toggle {
                        border: $space-xxxs solid var(--grey-color-70);

                        &:after {
                            background-color: var(--grey-color-70);
                            border-color: var(--grey-color-70);
                        }
                    }
                }
            }
        }

        & + label {
            .checkmark {
                border: $space-xxxs solid var(--grey-color-70);
                border-radius: $corner-radius-s;
                height: $checkmark-height;
                left: 0;
                position: relative;
                top: 0;
                transition: all $motion-duration-extra-fast $motion-ease-in-back
                    $motion-delay-s;
                width: $checkmark-width;

                &:after {
                    border: solid var(--primary-color);
                    border-width: 0 $space-xxxs $space-xxxs 0;
                    content: '';
                    display: block;
                    height: $checkmark-after-height;
                    left: $checkmark-after-left;
                    opacity: 0;
                    position: absolute;
                    top: $checkmark-after-top;
                    transform: rotate(45deg) scale(0);
                    transition: all $motion-duration-extra-fast
                        $motion-ease-in-back $motion-delay-s;
                    width: $checkmark-after-width;
                }

                &.toggle {
                    border: $space-xxxs solid var(--grey-color-70);
                    border-radius: 20px;
                    height: $toggle-height;
                    left: 0;
                    position: relative;
                    top: 0;
                    transition: all $motion-duration-extra-fast
                        $motion-ease-in-back $motion-delay-s;
                    width: $toggle-width;

                    &:after {
                        background-color: var(--grey-color-70);
                        border: solid var(--grey-color-70);
                        border-radius: 50%;
                        border-width: $space-xxxs;
                        content: '';
                        display: block;
                        height: $toggle-after-height;
                        left: $toggle-after-left;
                        opacity: 1;
                        position: absolute;
                        top: $toggle-after-top;
                        transform: none;
                        transition: all $motion-duration-extra-fast
                            $motion-ease-in-back $motion-delay-s;
                        width: $toggle-after-width;
                    }
                }
            }
        }

        &:hover + label {
            .checkmark {
                border: $space-xxxs solid var(--primary-color-70);
                background-color: var(--accent-color-10);

                &.toggle {
                    border: $space-xxxs solid var(--primary-color-70);
                    background-color: var(--accent-color-10);

                    &:after {
                        background-color: var(--primary-color-70);
                        border-color: var(--primary-color-70);
                    }
                }
            }
        }

        &:active + label {
            .checkmark {
                border: $space-xxxs solid var(--primary-color-70);
                background-color: var(--accent-color-30);

                &.toggle {
                    border: $space-xxxs solid var(--primary-color-70);
                    background-color: var(--accent-color-30);

                    &:after {
                        background-color: var(--primary-color-70);
                        border-color: var(--primary-color-70);
                    }
                }
            }
        }
    }

    input:checked {
        &[disabled] {
            cursor: default;
        }

        & + label {
            transition: all $motion-duration-extra-fast $motion-ease-out-back
                $motion-delay-s;

            .checkmark {
                background-color: var(--accent-color-30);
                border: $space-xxxs solid var(--primary-color-70);

                &.toggle {
                    background-color: var(--accent-color-30);
                    border: $space-xxxs solid var(--primary-color-70);

                    &:after {
                        background-color: var(--primary-color-70);
                        border-color: var(--primary-color-70);
                    }
                }
            }

            .checkmark {
                &:after {
                    border-color: var(--primary-color-70);
                    opacity: 1;
                    transform: rotate(45deg) scale(1);
                    transition: all $motion-duration-extra-fast
                        $motion-ease-out-back $motion-delay-s;
                }

                &.toggle {
                    &:after {
                        background-color: var(--primary-color-70);
                        border-color: var(--primary-color-70);
                        left: $toggle-after-left-checked;
                        opacity: 1;
                        transform: none;
                        transition: all $motion-duration-extra-fast
                            $motion-ease-out-back $motion-delay-s;
                    }
                }
            }
        }

        &:active + label {
            .checkmark {
                transform: scale(0.98);
                background-color: var(--accent-color-10);
                border: $space-xxxs solid var(--primary-color-70);

                &.toggle {
                    transform: scale(0.98);
                    background-color: var(--accent-color-10);
                    border: $space-xxxs solid var(--primary-color-70);

                    &:after {
                        background-color: var(--primary-color-70);
                        border-color: var(--primary-color-70);
                    }
                }
            }
        }

        &:hover + label {
            .checkmark {
                background-color: var(--accent-color-20);
                border: $space-xxxs solid var(--primary-color-70);

                &.toggle {
                    background-color: var(--accent-color-20);
                    border: $space-xxxs solid var(--primary-color-70);

                    &:after {
                        background-color: var(--primary-color-70);
                        border-color: var(--primary-color-70);
                    }
                }
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-weight: $text-font-weight-regular;
    }

    .selector-label {
        font-size: $text-font-weight-regular;

        &-end {
            margin-left: $space-xs;
        }

        &-start {
            margin-right: $space-xs;
        }
    }
}

:global(.focus-visible) {
    input[type='checkbox'] {
        &:checked {
            &:focus-visible + label {
                .checkmark {
                    outline: $space-xxxs solid var(--primary-color-50);
                    outline-offset: $selector-outline-offset;

                    &.toggle {
                        outline: $space-xxxs solid var(--primary-color-50);
                        outline-offset: $selector-outline-offset;
                    }
                }
            }
        }

        &:focus-visible + label {
            .checkmark {
                border: $space-xxxs solid var(--primary-color);
                outline: $space-xxxs solid var(--primary-color-50);
                outline-offset: $selector-outline-offset;

                &.toggle {
                    border: $space-xxxs solid var(--primary-color);
                    outline: $space-xxxs solid var(--primary-color-50);
                    outline-offset: $selector-outline-offset;

                    &:after {
                        background-color: var(--primary-color);
                        border-color: var(--primary-color);
                    }
                }
            }
        }

        &[disabled] {
            &:checked {
                &:focus-visible + label {
                    .checkmark {
                        outline: none;

                        &.toggle {
                            outline: none;
                        }
                    }
                }
            }

            &:focus-visible + label {
                .checkmark {
                    outline: none;
                    border: $space-xxxs solid var(--grey-color-70);

                    &.toggle {
                        outline: none;
                        border: $space-xxxs solid var(--grey-color-70);

                        &:after {
                            background-color: var(--primary-color-70);
                            border-color: var(--primary-color-70);
                        }
                    }
                }
            }
        }
    }
}

.checkbox-group {
    display: flex;
    gap: $space-m;

    &.vertical {
        flex-direction: column;
    }

    &.horizontal {
        flex-direction: row;
    }
}

.label-no-value {
    margin-bottom: $label-no-value-margin-bottom;
}
