.dialog {
    width: 352px;
    transform-origin: 50% 50%;

    &.small {
        width: 352px;
        @media (max-width: $small-screen-size) {
            width: 80vw;
        }
    }

    &.medium {
        width: 560px;
        @media (max-width: $small-screen-size) {
            width: 90vw;
        }
    }

    .header {
        font-size: $text-font-size-5;
        font-weight: $text-font-weight-semibold;
        padding-bottom: $space-s;
    }

    .body {
        padding-bottom: $space-l-fitted;
        font-size: $text-font-size-3;
        font-weight: $text-font-weight-regular;
        line-height: $text-line-height-3;
    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: $space-xs;
    }
}
