.selector {
    display: flex;
    position: relative;
    width: fit-content;

    input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 1;
    }

    input:checked + label {
        .radio-button {
            background-color: var(--primary-color);
            border: $space-xxxs solid var(--primary-color);

            &.disabled {
                opacity: 50%;

                &:hover {
                    background-color: var(--primary-color);
                    border: $space-xxxs solid var(--primary-color);
                }

                &:focus,
                &:focus-visible {
                    outline: none;
                }

                &:active {
                    transform: none;
                    background-color: var(--primary-color);
                    border: $space-xxxs solid var(--primary-color);
                }
            }

            &:hover {
                background-color: var(--primary-color-60);
                border: $space-xxxs solid var(--primary-color-60);
            }

            &:focus,
            &:focus-visible {
                outline: $space-xxxs solid var(--primary-color-50);
            }

            &:active {
                transform: scale(0.98);
                background-color: var(--primary-color-80);
                border: $space-xxxs solid var(--primary-color-80);
            }

            &:after {
                display: block;
                background: var(--white-color);
            }
        }
    }

    .radio-button {
        position: relative;
        height: $radio-height;
        width: $radio-width;
        border-radius: 50%;
        background-color: var(--white-color);
        border: $space-xxxs solid var(--grey-color-70);

        &.disabled {
            opacity: 50%;

            &:hover {
                border: $space-xxxs solid var(--grey-color-70);
            }

            &:focus,
            &:focus-visible {
                outline: none;
                border: $space-xxxs solid var(--grey-color-70);
            }

            &:active {
                border: $space-xxxs solid var(--grey-color-70);
            }
        }

        &:hover {
            border: $space-xxxs solid var(--primary-color-60);
        }

        &:focus,
        &:focus-visible {
            outline: $space-xxxs solid var(--primary-color-50);
            border: $space-xxxs solid var(--primary-color);
        }

        &:active {
            border: $space-xxxs solid var(--primary-color-80);
        }

        &:after {
            top: $radio-after-top;
            left: $radio-after-left;
            width: $radio-after-width;
            height: $radio-after-height;
            border-radius: 50%;
            background-color: var(--primary-color);
            content: '';
            position: absolute;
            display: none;
        }
    }

    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-weight: $text-font-weight-regular;
    }

    .selector-label {
        margin-left: $space-xs;
        font-size: $text-font-weight-regular;
    }
}

.radio-group {
    .selector {
        margin-bottom: $space-m;
    }
}

.label-no-value {
    margin-bottom: $label-no-value-margin-bottom;
}
