@import './Styles/mixins';
@import './Styles/status';

.picker {
    @include reset-component();

    @include picker-padding(
        $picker-input-height-m,
        $picker-font-size-m,
        $picker-input-padding-horizontal-m
    );

    align-items: center;
    background: $picker-background-color;
    border: $picker-border-width $picker-border-style $picker-border-color;
    border-radius: $picker-border-radius;
    display: inline-flex;
    font-family: $octuple-font-family;
    position: relative;
    transition: border $motion-duration-fast, box-shadow $motion-duration-fast;

    &:hover:not(.picker-disabled):not(.picker-underline):not(.picker-borderless) {
        @include hover();
    }

    &-focused:not(.picker-disabled):not(.picker-underline):not(.picker-borderless) {
        @include active();
    }

    &-disabled {
        @include disabled();
    }

    &-borderless {
        border-color: transparent;
        box-shadow: none;
        outline: none;
    }

    &-pill {
        border-radius: $corner-radius-xl;
    }

    &-underline {
        border-color: transparent;
    }

    &-status-success.picker-underline {
        div {
            &:before {
                border-color: var(--border-color);
            }

            &:after {
                border-color: var(--primary-color-60);
            }

            &:hover {
                &:before {
                    border-color: var(--grey-color-60);
                }
            }
        }
    }

    &-status-warning.picker-underline {
        div {
            &:before {
                border-color: var(--warning-color);
            }

            &:after {
                border-color: var(--warning-color);
            }

            &:hover {
                &:before {
                    border-color: var(--warning-color);
                }
            }
        }
    }

    &-status-error.picker-underline {
        div {
            &:before {
                border-color: var(--error-color);
            }

            &:after {
                border-color: var(--error-color);
            }

            &:hover {
                &:before {
                    border-color: var(--error-color);
                }
            }
        }
    }

    &-separator {
        color: $picker-foreground-color;
        cursor: default;
        display: inline-block;
        position: relative;
        top: 8px;

        .picker-focused {
            color: $picker-foreground-color;
        }

        .picker-range-separator {
            .picker-disabled {
                cursor: not-allowed;
            }
        }
    }

    &-status-warning {
        .picker-separator {
            color: inherit;
        }
    }

    &-status-error {
        .picker-separator {
            color: inherit;
        }
    }

    &-range {
        position: relative;
        display: inline-flex;

        .picker-clear {
            right: $picker-input-padding-horizontal-l;
        }

        &:hover {
            .picker-clear {
                opacity: 1;
            }
        }

        .picker-active-bar {
            bottom: -$picker-border-width;
            height: 2px;
            margin-left: $picker-input-padding-horizontal-l;
            background: $picker-input-active-bar-color;
            opacity: 0;
            transition: all $motion-duration-fast ease-out;
            pointer-events: none;
        }

        &.picker-focused {
            .picker-active-bar {
                opacity: 1;
            }
        }

        &-separator {
            align-items: center;
            padding: 0 $space-xs;
            line-height: 1;
        }

        &.picker-large {
            .picker-clear {
                transform: translateY(-12px);
                right: $picker-input-padding-horizontal-l;
            }
        }

        &.picker-medium {
            .picker-clear {
                transform: translateY(-7px);
                right: $picker-input-padding-horizontal-l;
            }
        }

        &.picker-small {
            .picker-clear {
                transform: translateY(-7px);
                right: $picker-input-padding-horizontal-s;
            }

            .picker-active-bar {
                margin-left: $picker-input-padding-horizontal-s;
            }
        }
    }

    &-dropdown-range {
        padding: calc($picker-arrow-size * 2 / 3) 0;

        &-hidden {
            display: none;
        }
    }

    &-partial > &-time-partial {
        padding-top: calc($space-xs / 2);
    }

    &-ranges {
        margin-bottom: 0;
        padding: ($space-xs / 2) $space-s;
        overflow: hidden;
        line-height: $picker-line-height-m - 2 * $picker-border-width -
            calc($space-xs / 2);
        text-align: left;
        list-style: none;

        li {
            display: inline-block;
        }

        .picker-preset {
            margin-right: 16px;
        }

        .picker-ok {
            float: right;
            margin-left: $space-xs;
        }
    }

    &-range-wrapper {
        display: flex;
    }

    &-large &-ranges {
        line-height: $picker-line-height-l - 2 * $picker-border-width -
            calc($space-xs / 2);
    }

    &-medium &-ranges {
        line-height: $picker-line-height-m - 2 * $picker-border-width -
            calc($space-xs / 2);
    }

    &-small &-ranges {
        line-height: $picker-line-height-s - 2 * $picker-border-width -
            calc($space-xs / 2);
    }

    &-large {
        @include picker-padding(
            $picker-line-height-l,
            $picker-font-size-l,
            $picker-input-padding-horizontal-l
        );

        input {
            @include input-size-1();
        }

        .picker-separator {
            top: 13px;

            svg {
                transform: scale(1.5);
            }
        }
    }

    &-medium {
        @include picker-padding(
            $picker-line-height-m,
            $picker-font-size-m,
            $picker-input-padding-horizontal-m
        );

        input {
            @include input-size-2();
        }

        .picker-separator {
            top: 8px;
        }
    }

    &-small {
        @include picker-padding(
            $picker-line-height-s,
            $picker-font-size-s,
            $picker-input-padding-horizontal-s
        );

        input {
            @include input-size-3();
        }

        .picker-separator {
            top: 4px;
        }
    }
}

@import './Styles/partial';
@import './Styles/rtl';
