.wrapper-style {
    align-items: center;
    display: flex;
    justify-content: center;

    &.disruptive {
        background-color: var(--disruptive-color-60);
        color: var(--text-inverse-color);
    }

    &.grey {
        background-color: var(--grey-color-60);
        color: var(--text-inverse-color);
    }

    &.blue {
        background-color: var(--blue-color-60);
        color: var(--text-inverse-color);
    }

    &.orange {
        background-color: var(--orange-color-60);
        color: var(--text-inverse-color);
    }

    &.green {
        background-color: var(--green-color-60);
        color: var(--text-inverse-color);
    }

    &.violet {
        background-color: var(--violet-color-60);
        color: var(--text-inverse-color);
    }

    &.yellow {
        background-color: var(--yellow-color-60);
        color: var(--text-inverse-color);
    }

    &.bluegreen {
        background-color: var(--bluegreen-color-60);
        color: var(--text-inverse-color);
    }
}

.round-image {
    border-radius: 50%;
}

.image-style {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
