$tooltip-arrow-shadow: 1px 1px 2px rgba(15, 20, 31, 0.12);

.referenceWrapper {
    display: inline-block;
    cursor: pointer;

    &.disabled {
        cursor: auto;
    }

    .no-pointer-events {
        pointer-events: none;
    }
}

.tooltip {
    --bg: var(--background-color);
    --text-color: var(--text-primary-color);
    display: none;
    box-shadow: $shadow-object-xs;
    background: var(--bg);
    color: var(--text-color);
    font-family: $octuple-font-family;
    font-size: $text-font-size-1;
    text-align: center;
    z-index: $z-index-400;
    padding: $space-xs;
    border-radius: $corner-radius-s;
    overflow-wrap: break-word;

    &.dark {
        --bg: var(--grey-color-80);
        --text-color: var(--text-inverse-color);
    }

    .arrow {
        width: 8px;
        height: 8px;
        z-index: -1;
        background: inherit;
        box-shadow: $tooltip-arrow-shadow;
    }

    &.top {
        transform-origin: bottom center;

        .arrow {
            transform: rotate(45deg);
        }
    }

    &.left {
        transform-origin: right center;

        .arrow {
            transform: rotate(315deg);
        }
    }

    &.right {
        transform-origin: left center;

        .arrow {
            transform: rotate(135deg);
        }
    }

    &.bottom {
        transform-origin: top center;

        .arrow {
            transform: rotate(225deg);
        }
    }

    &.visible {
        display: block;
        animation: scaleTooltip $motion-duration-extra-fast
            $motion-easing-easeinout 0s;
    }

    &.small {
        max-width: 140px;
    }

    &.medium {
        max-width: 240px;
    }

    &.large {
        max-width: 360px;
    }
}
