.snackbars {
    --snack-color: var(--grey-color-70);
    display: flex;
    box-shadow: $shadow-object-l;
    border-radius: $space-xxs;
    padding: $space-m;
    min-width: 320px;
    max-width: 640px;
    color: var(--snack-color);
    border-left: solid $space-xs var(--snack-color);
    background-color: var(--background-color);
    gap: $space-m;
    animation: slideUpIn $motion-duration-extra-fast $motion-easing-easeinout 0s
        forwards;
    margin-bottom: $space-s;

    &.neutral {
        --snack-color: var(--grey-color-70);
    }

    &.positive {
        --snack-color: var(--green-color-70);
    }

    &.warning {
        --snack-color: var(--orange-color-70);
    }

    &.disruptive {
        --snack-color: var(--disruptive-color-70);
    }

    .icon {
        color: inherit;
    }

    .message {
        flex: 1;
        color: inherit;
    }

    .buttons-container {
        padding: $space-m;
    }
}

.snackbar-container {
    position: fixed;
    z-index: $z-index-500;

    &.top-center,
    &.bottom-center {
        left: 50%;
        transform: translateX(-50%);
    }

    &.top-center,
    &.top-left,
    &.top-right {
        top: $space-m;
    }

    &.bottom-center,
    &.bottom-left,
    &.bottom-right {
        bottom: $space-m;
    }

    &.top-left,
    &.bottom-left {
        left: $space-m;
    }

    &.top-right,
    &.bottom-right {
        right: $space-m;
    }
}
