.accordion-container {
  font-family: var(--accordion-font-family);
  overflow: hidden;

  &.accordion-border {
    border: var(--accordion-border);
  }

  &.pill {
    border-radius: var(--accordion-pill-shape-border-radius);
  }

  &.rectangle {
    border-radius: var(--accordion-rectangle-shape-border-radius);
  }

  // Animation ensures the scroll bars don't flicker during transition.
  // https://css-tricks.com/hide-scrollbars-during-an-animation/
  .accordion-body-container {
    background: var(--accordion-body-background-color);
    box-sizing: border-box;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height $motion-duration-fast $motion-easing-easeout;

    &.show {
      @keyframes hideYScroll {
        from,
        to {
          overflow-y: hidden;
        }
      }

      animation: hideYScroll $motion-duration-fast backwards;
      max-height: 100vh;
      overflow-y: auto;
      transition: max-height $motion-duration-fast $motion-easing-easein;
    }
  }

  .accordion-body {
    color: var(--accordion-body-text-color);

    &.large {
      @include octuple-content-medium();
      padding: $space-l 0;
      margin: 0 $space-l;
    }

    &.medium {
      @include octuple-content-small();
      padding: $space-m 0;
      margin: 0 $space-m;
    }

    &.border-top {
      border-top: var(--accordion-border);
    }
  }

  .accordion-summary {
    align-items: center;
    background: var(--accordion-summary-background-color);
    color: var(--accordion-summary-text-color);
    cursor: pointer;
    display: flex;
    gap: $space-s;
    justify-content: space-between;
    width: 100%;
    transition: background-color $motion-duration-fast $motion-easing-easeout;

    &.large {
      padding: $space-m $space-l;

      .accordion-header-container {
        gap: $space-m;

        .accordion-header {
          @include octuple-h4();
          padding: 0;
        }
      }
    }

    &.medium {
      padding: $space-s $space-m;

      .accordion-header-container {
        gap: $space-s;

        .accordion-header {
          @include octuple-h5();
          padding: 0;
        }
      }
    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    .accordion-header-container {
      align-items: center;
      display: flex;
    }

    &-full-width {
      .accordion-header-container,
      .accordion-header {
        flex: 1;
      }
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &-expanded {
      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &:hover {
      background: var(--accordion-summary-background-hover-color);
      color: var(--accordion-summary-text-hover-color);
    }
  }

  .accordion-icon-button {
    transition: transform $motion-duration-fast;

    &.expanded-icon-button {
      transform: rotate(180deg);
    }
  }

  &.gradient {
    &.accordion-border {
      border: var(--accordion-gradient-border);
    }

    .accordion-body-container {
      background: var(--accordion-body-background-gradient);
    }

    .accordion-body {
      color: var(--accordion-gradient-body-text-color);

      &.border-top {
        border-top: var(--accordion-gradient-border);
      }
    }

    .accordion-summary {
      background: var(--accordion-summary-background-gradient);
      color: var(--accordion-gradient-summary-text-color);

      .badge {
        background-color: var(--primary-background2-color);
        color: var(--primary-color);
      }

      &:hover {
        background: var(--accordion-summary-background-hover-gradient);
        color: var(--accordion-gradient-summary-text-hover-color);

        .badge {
          background-color: var(--primary-background1-color);
          color: var(--primary-color);
        }
      }
    }
  }
}

:global(.focus-visible) {
  .accordion-container {
    .accordion-summary {
      &.focus-visible,
      &:focus-visible {
        border: 2px solid var(--focus-visible-shadow-color);
        border-radius: $border-radius-xl;

        &.large {
          padding: calc(#{$space-m} - 2px) calc(#{$space-l} - 2px);
        }

        &.medium {
          padding: calc(#{$space-s} - 2px) calc(#{$space-m} - 2px);
        }

        &.accordion-summary-expanded {
          border-radius: 0;
          border-top-left-radius: $border-radius-xl;
          border-top-right-radius: $border-radius-xl;
        }
      }
    }
  }
}
