.accordion-container {
    border: 1px solid var(--grey-color-20);
    border-radius: $corner-radius-xl;
    font-family: $octuple-font-family;
    overflow: hidden;

    .accordion-body-container {
        box-sizing: border-box;
        max-height: 0;
        overflow-y: auto;
        transition: all $motion-duration-fast $motion-easing-easeout;

        &.show {
            max-height: 500px;
        }
    }

    .accordion-body {
        margin: 0 $space-l;
        padding: $space-m 0;

        &.show-border-top {
            border-top: 1px solid var(--grey-color-20);
        }
    }

    .accordion-summary {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: $space-l;
        width: 100%;
        transition: background-color $motion-duration-fast
            $motion-easing-easeout;

        &:focus,
        &:focus-visible {
            outline: none;
        }

        &-expanded {
            &:focus,
            &:focus-visible {
                outline: none;
            }
        }

        &:hover {
            background-color: var(--grey-color-10);
        }
    }

    .accordion-icon {
        transition: transform $motion-duration-fast;

        &.expanded-icon {
            transform: rotate(180deg);
        }
    }
}

:global(.focus-visible) {
    .accordion-container {
        .accordion-summary {
            &.focus-visible,
            &:focus-visible {
                border: 2px solid $focus-visible-shadow-color;
                border-radius: $corner-radius-xl;
                padding: calc($space-l - 2px);

                &-expanded {
                    border-radius: 0;
                    border-top-left-radius: $corner-radius-xl;
                    border-top-right-radius: $corner-radius-xl;
                }
            }
        }
    }
}
