.link-style {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: $octuple-font-family;
    font-size: $text-font-size-2;

    &.primary {
        color: var(--primary-color);
    }
}
