$red100: #0A0202;
$red90:  #3B1010;
$red80:  #6C2222; //AAA ✅ (11.11:1) with $grey0 text
$red70:  #993838; //AAA ✅ (7.05:1) with $grey0 text
$red60:  #C15151; //AA ✔️️ (4.59:1) with $grey0 text
$red50:  #E46F6F;
$red40:  #F48686; //AA ✔️ (6.61:1) with $grey90 text
$red30:  #FFA3A3; //AAA ✅ (8.47:1) with $grey90 text
$red20:  #FFC6C6;
$red10:  #FFEFEF;

$orange100: #0A0700;
$orange90:  #3B2600;
$orange80:  #6C4500; //AAA ✅ (8.43:1) with $grey0 text
$orange70:  #9D6309; //AA ✔️️ (4.97:1) with $grey0 text
$orange60:  #C97E19; //AA ✔️ (4.98:1) with $grey90 text
$orange50:  #F29D31; //AAA ✅ (7.41:1) with $grey90 text
$orange40:  #FFB650; //AAA ✅ (9.26:1) with $grey90 text
$orange30:  #FFCD78; //AAA ✅ (10.95:1) with $grey90 text
$orange20:  #FFE3B0;
$orange10:  #FFF8EB;

$yellow100: #0A0A00;
$yellow90:  #333100;
$yellow80:  #5C5500; //AAA ✅ (7.62:1) with $grey0 text
$yellow70:  #857600; //AA ✔️️ (4.57:1) with $grey0 text
$yellow60:  #A88F00; //AA ✔️️ (5.07:1) with $grey90 text
$yellow50:  #D6AD00; //AAA ✅️ (7.56:1) with $grey90 text
$yellow40:  #F1C40F; // AAA ✅ (9.71:1) with $grey90 text
$yellow30:  #FFE44E; // AAA ✅ (12.65:1) with $grey90 text
$yellow20:  #FFF89C;
$yellow10:  #FFFFEB;

$green100: #030A08;
$green90:  #0E2E26;
$green80:  #1B5143; //AAA ✅ (9.11:1) with $grey0 text
$green70:  #2B715F; //AA ✔️️ (5.78:1) with $grey0 text
$green60:  #3D8F79;
$green50:  #51AB93; //AA ✔️ (5.83:1) with $grey90 text
$green40:  #67C5AC; //AAA ✅ (7.8:1) with $grey90 text
$green30:  #8CE1CA; //AAA ✅ (10.56:1) with $grey90 text
$green20:  #B9F4E4;
$green10:  #F0FEFA;

$blue-green100: #00090A;
$blue-green90: #00333B;
$blue-green80: #025966; //AAA ✅ (8:1) with $grey0 text
$blue-green70: #0B7B8B; //AA ✔️️ (4.97:1) with $grey0 text
$blue-green60: #1999AC; //AA ✔️ (4.76:1) with $grey90 text
$blue-green50: #2DB3C7; //AAA ✅ (6.44:1) with $grey90 text
$blue-green40: #50CEE1; //AAA ✅ (8.65:1) with $grey90 text
$blue-green30: #7BE4F4; //AAA ✅ (10.95:1) with $grey90 text
$blue-green20: #B0F3FE;
$blue-green10: #EBFDFF;

$blue100: #00060A;
$blue90:  #002A47;
$blue80:  #054D7B; //AAA ✅ (8.92:1) with $grey0 text
$blue70:  #146DA6; //AA ✔️️ (5.57:1) with $grey0 text
$blue60:  #2C8CC9;
$blue50:  #47A4DF; //AA ✔️ (5.87:1) with $grey90 text
$blue40:  #68BAEF; //AAA ✅ (7.57:1) with $grey90 text
$blue30:  #8ED0FA; //AAA ✅ (9.64:1) with $grey90 text
$blue20:  #BCE4FF;
$blue10:  #EBF7FF;

$violet100: #060106;
$violet90:  #350E31;
$violet80:  #5D2156; //AAA ✅ (11.55:1) with $grey0 text
$violet70:  #7E3A77; //AAA ✅ (7.61:1) with $grey0 text
$violet60:  #975590; //AA ✔️️ (5.22:1) with $grey0 text
$violet50:  #AE72A8;
$violet40:  #C491BF; //AA ✔️ (6.26:1) with $grey90 text
$violet30:  #D8B1D4; //AAA ✅ (8.57:1) with $grey90 text
$violet20:  #EAD3E8;
$violet10:  #FBF6FB;

$grey100: #05070A;
$grey90:  #1A212E;
$grey80:  #343C4C; //AAA ✅ (11.07:1) with $grey0 text
$grey70:  #4F5666; //AAA ✅ (7.35:1) with $grey0 text
$grey60:  #69717F; //AA ✔️️ (4.91:1) with $grey0 text
$grey50:  #858B98; //AA ✔️ (4.72:1) with $grey90 text
$grey40:  #A1A6B1; //AAA ✅ (6.61:1) with $grey90 text
$grey30:  #BDC1C9; //AAA ✅ (8.94:1) with $grey90 text
$grey20:  #D9DCE1;
$grey10:  #F6F7F8;

$grey0:   #FFFFFF; //$grey0
